/*doc
---
title: Botonera
category: Componentes
---

Documentación...

*/

.botonera--centrada {
	text-align: center;
}

.botonera__botones {
	@media (min-width: $screen-sm-min) {
		display: inline-block;
		@include clearfix;
	}
}

.botonera__boton {
	@include margin-bottom-xs;
	@media (min-width: $screen-sm-min) {
		float: right;
	}
	@media (max-width: $screen-xs-max) {
		width: 100%;
		display: block;
	}
}

