/*doc
---
title: Botonera
category: Componentes
---

Permite añadir una serie de botones que se colocan en función del uso que hagamos de la rejilla.

##Ejemplo con dos botones##

```html_example
<div class="botonera">
	<div class="row">
		<div class="col-sm-4 col-sm-push-6">
			<div class="botonera__accion">
				<a href="" class="btn btn-primary btn-lg btn-block botonera__accion__boton">Continuar →</a>
			</div>
		</div>
		<div class="col-sm-4 col-sm-pull-2">
			<div class="botonera__accion">
				<a href="" class="btn btn-primary btn-lg btn-link btn-block botonera__accion__boton">← Todas las entradas</a>
			</div> 
		</div>
	</div>
</div>
```

##Ejemplo con tres botones y textos de ayuda##

```html_example
<div class="botonera">
	<div class="row">
		<div class="col-sm-4 col-sm-push-4">
			<div class="botonera__accion">
				<a href="" class="btn btn-primary btn-lg btn-block botonera__accion__boton">Pagar entradas →</a>
				<p class="botonera__accion__texto-ayuda">Serás dirigido a la pasarela de pago</p>
			</div>
		</div>
		<div class="col-sm-4 col-sm-push-4">
			<div class="botonera__accion">
				<a href="" class="btn btn-primary btn-lg btn-block botonera__accion__boton">Reservar →</a>
				<p class="botonera__accion__texto-ayuda">Podrás realizar el pago hasta 2 días antes de la fecha de la reserva</p>
			</div>
		</div>
		<div class="col-sm-4 col-sm-pull-8">
			<div class="botonera__accion">
				<a href="" class="btn btn-primary btn-lg btn-link btn-block botonera__accion__boton">← Revisar compra y cupón</a>
			</div> 
		</div>
	</div>
</div>
```

*/

.botonera {
	@include padding-top-sm;
}

.botonera__accion {
	@include margin-bottom-xs;
}

.botonera__accion__boton {
	white-space: normal;
}

.botonera__accion__texto-ayuda {
	padding-top: 10px;
	@include font-size-small;
	color: darken($gray-light, 20%);
	@media (max-width: $screen-xs-max) {
		text-align: center;
	}
}