/*doc
---
title: Botonera
category: Componentes
---

Permite añadir una serie de botones que se colocan en función del uso que hagamos de la rejilla.

##Ejemplo con dos botones##

```html_example
<div class="botonera">
	<div class="row">
		<div class="col-sm-4 col-sm-push-6">
			<a href="" class="btn btn-primary btn-lg btn-block botonera__boton">Continuar →</a>
		</div>
		<div class="col-sm-4 col-sm-pull-2">
			<a href="" class="btn btn-lg btn-link btn-block botonera__boton">← Todas las entradas</a>
		</div>
	</div>
</div>
```

##Ejemplo con tres botones y textos de ayuda##

```html_example
<div class="botonera">
	<div class="row">
		<div class="col-sm-4 col-sm-push-4">
			<a href="" class="btn btn-primary btn-lg btn-block botonera__boton">Pagar entradas →</a>
			<p class="botonera__texto-ayuda">Serás dirigido a la pasarela de pago</p>
		</div>
		<div class="col-sm-4 col-sm-push-4">
			<a href="" class="btn btn-primary btn-lg btn-block botonera__boton">Reservar →</a>
			<p class="botonera__texto-ayuda">Podrás realizar el pago hasta 2 días antes de la fecha de la reserva</p>
		</div>
		<div class="col-sm-4 col-sm-pull-8">
			<a href="" class="btn btn-lg btn-link btn-block botonera__boton">← Revisar compra y cupón</a>
		</div>
	</div>
</div>
```


*/

.botonera {
	@include padding-top-sm;	
}

.botonera__boton {
	white-space: normal;
	@include margin-bottom-xs;
	+ .botonera__boton {
		@include margin-left-xs;
	}
}

.botonera__texto-ayuda {
	margin-top: -5px;
	@include margin-bottom-xs;
	@include font-size-small;
	color: darken($gray-light, 20%);
	@media (max-width: $screen-xs-max) {
		text-align: center;
	}

}