/*doc
---
title: Component Animations
category: Componentes
---

Extendemos el archivo `_component-animations.scss` de Bootstrap.

*/

.collapse--visible-sm-block {
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		display: block;
		visibility: visible;
	}
}

.collapse--visible-md-block {
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		display: block;
		visibility: visible;
	}
}

.collapse--visible-lg-block {
	@media (min-width: $screen-lg-min) {
		display: block;
		visibility: visible;
	}
}

.collapse--caja {
	@media (max-width: $screen-xs-max) {
		margin-top: 5px;
		@include margin-bottom-xs;
		@include padding-xs;
		background-color: #f3f3f3;
		border-radius: $border-radius-large;
	}
}