/*doc
---
title: Fijados
category: Componentes
---

Documentación...

*/


.fijado--xs {
	@media (max-width: $screen-xs-max) {
		width: 100%;
		position: fixed;
		z-index: $fijado-z-index;
	}
}

.fijado--xs--abajo {
	@media (max-width: $screen-xs-max) {
		bottom: 0;
		left: 0;
		@include box-shadow (0 0 30px 10px rgba(0, 0, 0, 0.3));
	}
}