/*doc
---
title: Island
category: Componentes
---

<style>
  .island {
    background-color: yellow;
  }
</style>

Este componente se basa en el [objeto "Island" de Harry Roberts](http://csswizardry@mixin com/2011/10/the-island-object/). El color de fondo amarillo sólo se utiliza en la guía de estilo para que el ejemplo sea visible.

```html_example
<div class="island island--xs">
    Aquí va el contenido
</div>
<div class="island island--sm">
    Aquí va el contenido
</div>
<div class="island island--md">
    Aquí va el contenido
</div>
<div class="island island--lg">
    Aquí va el contenido
</div>
```

*/


.island {
    @include margin-bottom-sm;
    p,
    ul {
        &:last-child {
            margin-bottom: 5px;
        }
    }
}

.island--xs {
    @include padding-xs;
}

.island--sm {
    @include padding-sm;
    @media (max-width: $screen-xs-max) {
        @include padding-horizontal-xs;
    }
}

.island--md {
    @include padding-md;
    @media (max-width: $screen-xs-max) {
        @include padding-horizontal-xs;
    }
}

.island--lg {
    @include padding-lg;
    @media (max-width: $screen-xs-max) {
        @include padding-horizontal-xs;
    }
}