/*doc
---
title: List group
category: Componentes
---

Extendemos el componente List group de Bootstrap.

*/

.list-group {
	@include margin-bottom-sm;
}

.list-group-item {
	padding: 7px 15px 8px;
}

.list-group-item-heading {
	margin: 8px 0 12px;
	@include font-size-large;
	font-family: $font-museo-regular;
	@media (min-width: $screen-sm-min) {
		margin-bottom: 5px;
	}
}

.list-group-item--inline {
	.form-group {
		@media (min-width: $screen-sm-min) {
			@include no-margin-bottom;
		}
	}
	.list-group-item-text {
		margin-bottom: 10px;
		@media (min-width: $screen-sm-min) {
			margin-top: 7px;
			@include no-margin-bottom;
		}
	}
	.list-group-item-text--grande {
		@include font-size-large;
		margin: 3px 0 5px;
	}
	.list-group-item-text--pequeno {
		@include font-size-small;
		@media (min-width: $screen-sm-min) {
			margin: 10px 0 5px;
		}
	}
}

