/*doc
---
title: List group
category: Componentes
---

Utilizamos el componente ["List group" de Bootstrap](http://getbootstrap.com/components/#list-group), sobreescribiendo alguno de sus estilos y personalizando sus variables.

```html_example
<div class="list-group">
	<a href="#" class="list-group-item active">
		<h4 class="list-group-item-heading">List group item heading</h4>
		<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
	</a>
	<a href="#" class="list-group-item">
		<h4 class="list-group-item-heading">List group item heading</h4>
		<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
	</a>
	<a href="#" class="list-group-item">
		<h4 class="list-group-item-heading">List group item heading</h4>
		<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
	</a>
</div>
```

*/

.list-group {
	@include margin-bottom-sm;
}

.list-group-item {
	padding: 7px 15px 8px;
}

.list-group-item-heading {
	margin: 8px 0 12px;
	@include font-size-large;
	font-family: $font-museo-regular;
	@media (min-width: $screen-sm-min) {
		margin-bottom: 5px;
	}
}