/*doc
---
title: Miniaturas
category: Componentes
---

<div class="alert alert-danger" role="alert">Este componente todavía no puede utilizarse ya que no esta terminado.</div>

*/

.miniaturas--filas-dos { // To-Do: hacer estos saltos en código con la rejilla de bootstrap
	.miniaturas__columna {
		&:nth-child(2n+1) {
			clear: both;
		}
	}
}

.miniaturas--filas-tres { // To-Do: hacer estos saltos en código con la rejilla de bootstrap
	.miniaturas__columna {
		&:nth-child(3n+1) {
			clear: both;
		}
	}
}

.miniatura {
	@include margin-bottom-sm;
}

.miniatura--basica {
	.miniatura__imagen {
		@include margin-bottom-xs;		
	}
}

.miniatura__fecha {
	@include no-margin-bottom;	
	line-height: 1.2;
}

.miniatura__titulo {
	@extend titulo-4;
	@include no-margin-bottom;
}