/*doc
---
title: Navs
category: Componentes
---

Utilizamos el componente ["Navs" de Bootstrap](http://getbootstrap.com/components/#nav), sobreescribiendo alguno de sus estilos y personalizando sus variables.

Adem치s, a침adimos la clase `nav-tabs__enlace--lg` para dar estilo a las pesta침as que contienen texto grande (s칩lo para pantallas grandes).

```html_example
<ul class="nav nav-tabs margen-pequeno">
	<li class="active">
		<a href="#" class="nav-tabs__enlace--lg">Mis reservas</a>
	</li>
	<li>
		<a href="#" class="nav-tabs__enlace--lg">Mis compras</a>
	</li>
</ul>
```
*/

.nav {
	> li {
		> a {
			background-color: $gray-lighter;
		}
	}
}

.nav-tabs {
	> li {
		> a {
			color: $gray;
			&,
			&:hover {
				border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
			}
		}
	}
}

.nav-tabs__enlace--lg {
	font-family: $font-museo-thin;
	@include font-size-nav-tabs-enlace-lg;
}

.active {
	.nav-tabs__enlace--lg {
		font-family: $font-museo-bold;
	}
}