/*doc
---
title: Panels
category: Componentes
---

Utilizamos el componente ["Panels" de Bootstrap](http://getbootstrap.com/components/#panels), sobreescribiendo alguno de sus estilos y personalizando sus variables. Además, le añadimos los elementos `.panel-heading__titulo` y `.panel-body__titulo`.

```html_example
<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<h1 class="panel-heading__titulo">Panel heading</h1>
	</div>
	<div class="panel-body">
		<h2 class="panel-body__titulo">Panel body heading</h2>
		<p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	</div>
	<!-- List group -->
	<ul class="list-group">
		<li class="list-group-item">Cras justo odio</li>
		<li class="list-group-item">Dapibus ac facilisis in</li>
		<li class="list-group-item disabled">Morbi leo risus</li>
		<li class="list-group-item disabled">Porta ac consectetur ac</li>
		<li class="list-group-item disabled">Vestibulum at eros</li>
	</ul>
</div>
```

*/

.panel {
	@include margin-bottom-sm;
	border: none;
	@include box-shadow(1px 1px 3px rgba(0, 0, 0, 0.21));
}

.panel-body {
	@include arrow-top (50px, auto);
}

.panel-heading__titulo {
	@include no-margin-bottom;
	@include font-size-panel-heading__titulo;
}

.panel-body__titulo {
	@include margin-bottom-xs;
	@include font-size-panel-body__titulo;
}

// Panel con "list group"

.panel {
	> .list-group {
		.list-group-item {
			@include font-size-panel-list-group-list-group-item;
			font-family: $font-museo-thin;
		}
	}
}

.list-group + .panel-heading {
	border-radius: 0;
}

.panel-estatico{
	padding:$space-unit-xs;
}