/*doc
---
title: Panels
category: Componentes
---

Extendemos el componente de Bootstrap.

*/

.panel-heading__titulo {
	@include no-margin-bottom;
	@include font-size-panel-heading__titulo;
}

.panel-body__titulo {
	@include margin-bottom-xs;
	@include font-size-panel-body__titulo;
}

// Panel con "list group"

.panel {
	> .list-group {
		.list-group-item {
			@include font-size-panel-list-group-list-group-item;
			font-family: $font-museo-thin;
		}
	}
}

.list-group + .panel-heading {
	border-radius: 0;
}