/*doc
---
title: Display
category: Global
---

Documentación...

<div class="alert alert-error">Revisar que elementos se pueden convertir en componentes.</div>

*/


// Rejilla adaptable

.rejilla--adaptable {
	margin-left: -10px;
	margin-right: -10px;
}

.rejilla--adaptable__contenedor {
	width: 100%;
	display: table;
	border-spacing: 10px 0;
}

.rejilla--adaptable__fila {
	display: table-row;
}

.rejilla--adaptable__columna {
	height: 100%;
	display: table-cell;
	vertical-align: top;
	p {
		&:last-child {
			margin-bottom: 0;	
		}
	}
	select {
		min-width: 50px; // Si no damos este ancho mínimo no se ven los números
	}
}

.rejilla--adaptable__columna--vertical-centrada {
	vertical-align: middle;
}

// Rejilla tabla

.rejilla--tabla {
	@include margin-bottom-sm;
	@media (max-width: $screen-xs-max) {
		border-top: 1px solid $table-border-color;
	}
}

.rejilla--tabla__fila {
	@include no-margin-left;
	@include no-margin-right;
	border-bottom: 1px solid $table-border-color;
	@media (max-width: $screen-xs-max) {
		@include padding-vertical-xs;
	}
	&:first-child {
		@media (min-width: $screen-sm-min) {
			border-bottom-width: 2px;
		}
	}
	&:last-child {
		border-bottom: none;
	}
}

.rejilla--tabla__columna {
	@media (min-width: $screen-sm-min) {
		@include padding-xs;	
	}
}

.rejilla--tabla__columna--cabecera {
	font-weight: bold;
}

.rejilla--tabla__columna--izquierda {
	@media (min-width: $screen-sm-min) {
		text-align: left;
	}	
}

.rejilla--tabla__columna--centrada {
	@media (min-width: $screen-sm-min) {
		text-align: center;
	}
}