/*doc
---
title: Sección
category: Componentes
---

Lo utilizamos para dar estilos a los elementos de tipo <section> y a los posibles hijos que tenga: <header>, <footer>, títulos, subtítulos...

*/

.seccion {
	@include margin-bottom-md;
	@media (min-width: $screen-sm-min) {
		@include margin-bottom-md;
	}
}

.seccion--separador-arriba--fino {
	@include padding-top-sm;
	border-top: 1px solid $border-color;
}

.seccion--separador-abajo--fino {
	border-bottom: 1px solid $border-color;
}

.seccion__cabecera {
	@include margin-bottom-sm;
}