<div class="island island--xs bg-info text-center">
	<p>Has seleccionado dos compras:</p>
	<div class="botonera">
		<div class="row">
			<div class="col-md-offset-3 col-sm-6">	
				<div class="col-sm-4">
					<div class="botonera__accion">
						<a href="" class="btn btn-primary btn-md btn-block botonera__accion__boton">Factura</a>
					</div>
				</div>
				<div class="col-sm-4 ">
					<div class="botonera__accion">
						<a href="" class="btn btn-primary btn-md btn-block botonera__accion__boton">Importe</a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="botonera__accion">
						<a href="" class="btn btn-primary btn-md btn-block btn-block botonera__accion__boton">Email</a>
					</div> 
				</div>
			</div>
		</div>
	</div>
</div>