<div class="island island--xxs bg-success fijado--xs fijado--xs--abajo text-center">
	<h3 class="h3 hidden-xs">Has seleccionado dos reservas:</h3>
	<p>
		<span class="fuente-grande">Importe <strong>63.7€</strong></span> <span class="fuente-pequena text-nowrap">(7.20€ gastos de gestión incluidos)</span>
	</p>

	<a href="" class="btn btn-primary">Pagar entradas</a>
	<div class="island island--xxxs">
		<a href="" class="btn btn-default btn-sm btn-link">Anular reservas</a>		
		<a href="" class="btn btn-default btn-sm btn-link">Enviar por email</a>		
	</div>
	
</div>