<div class="rejilla--tabla rejilla--tabla--sin-bordes">
<div class="island island--xs bg-info">	
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna col-sm-2">Nombre</div>
		<div class="rejilla--tabla__columna rejilla--tabla__dato col-sm-4">Susana</div>
		<div class="rejilla--tabla__columna col-sm-2">Direccion</div>
		<div class="rejilla--tabla__columna rejilla--tabla__dato col-sm-4">Pol. Ind mutilva baja</div>	
	</div>
	<div class="rejilla--tabla__fila row ">
		<div class="rejilla--tabla__columna col-sm-2">Responsable</div>
		<div class="rejilla--tabla__columna rejilla--tabla__dato col-sm-4">Susana</div>
		<div class="rejilla--tabla__columna col-sm-2">Población</div>
		<div class="rejilla--tabla__columna rejilla--tabla__dato col-sm-4">Mutilva baja</div>	
	</div>
	<div class="rejilla--tabla__fila row ">
		<div class="rejilla--tabla__columna col-sm-2">Teléfono</div>
		<div class="rejilla--tabla__columna rejilla--tabla__dato col-sm-4">666558412</div>
		<div class="rejilla--tabla__columna col-sm-2">Código postal</div>
		<div class="rejilla--tabla__columna rejilla--tabla__dato col-sm-4">31192</div>	
	</div>
	<div class="rejilla--tabla__fila row ">
		<div class="rejilla--tabla__columna col-sm-2">Email</div>
		<div class="rejilla--tabla__columna rejilla--tabla__dato col-sm-4">susana.arrizabalaga@gmail.com</div>
		<div class="rejilla--tabla__columna col-sm-2">Provincia</div>
		<div class="rejilla--tabla__columna rejilla--tabla__dato col-sm-4">Navarra</div>	
	</div>
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna col-sm-offset-6 col-sm-2">Pais</div>
		<div class="rejilla--tabla__columna rejilla--tabla__dato col-sm-4">España</div>	
	</div>
</div>
</div>