<div class="rejilla--tabla">
	<div class="rejilla--tabla__fila row hidden-xs">
		 <div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-1"><input type="checkbox" /> </div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-1">Tipo entrada</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Localizador</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Pedido</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Fecha de compra</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Fecha de visita</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Gastos de gestión</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Dto.</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Cant.</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Importe</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Estado</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Acciones</div>
	</div>

	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-1"><input type="checkbox" /> </div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-1">Entrada individual <br><span class="fuente-normal">Exposiciones temporales + <br><em>Kunstmuseum Basel</em></span></div>

		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			R08360
		</div>

		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			1587458704
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			17/2/2015
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			27/2/2015
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			3.2€
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			-7.5€
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			8
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			19.70€
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			Activa
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			<a href="" class="btn btn-primary btn-xs btn-block botonera__boton">Pagar</a>
			<a href="" class="btn btn-primary btn-xs btn-block botonera__boton">Editar</a>
			<a href="" class="btn btn-primary btn-xs btn-link botonera__boton">Anular</a>
		</div>
	</div>
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-1"><input type="checkbox" /> </div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-1">Entrada Grupo Turístico colección</div>

		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			R08360
		</div>

		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			1587458704
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			17/2/2015
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			27/2/2015
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			3.2€
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			-7.5€
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			8
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			19.70€
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			Activa
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			<a href="" class="btn btn-primary btn-xs btn-block botonera__boton">Pagar</a>
			<a href="" class="btn btn-primary btn-xs btn-block botonera__boton">Editar</a>
			<a href="" class="btn btn-primary btn-xs btn-link botonera__boton">Anular</a>
		</div>
	</div>
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-12">
			<span>Mostrando</span>
			<select>
				<option>1</option>
				<option>2</option>
				<option>3</option>
			</select>

			<span>de 12</span>
		</div>
	</div>	
	
</div>