<div class="rejilla--tabla rejilla--tabla--sin-bordes">
	<div class="island island--xs island--margen-pequeno bg-info">
		<div class="row">
			<div class="col-sm-6">
				<div class="rejilla--tabla__fila row">
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera col-sm-4">Nombre</div>
					<div class="rejilla--tabla__columna col-sm-8">Susana</div>
				</div>
				<div class="rejilla--tabla__fila row ">
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera col-sm-4">Responsable</div>
					<div class="rejilla--tabla__columna col-sm-8">Susana</div>
				</div>
				<div class="rejilla--tabla__fila row ">
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera col-sm-4">Teléfono</div>
					<div class="rejilla--tabla__columna col-sm-8">666558412</div>
				</div>
				<div class="rejilla--tabla__fila row ">
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera col-sm-4">Email</div>
					<div class="rejilla--tabla__columna col-sm-8">susana.arrizabalaga@gmail.com</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="rejilla--tabla__fila row">
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera col-sm-4">Direccion</div>
					<div class="rejilla--tabla__columna col-sm-8">Pol. Ind mutilva baja</div>	
				</div>
				<div class="rejilla--tabla__fila row ">
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera col-sm-4">Población</div>
					<div class="rejilla--tabla__columna col-sm-8">Mutilva baja</div>	
				</div>
				<div class="rejilla--tabla__fila row ">
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera col-sm-4">Código postal</div>
					<div class="rejilla--tabla__columna col-sm-8">31192</div>	
				</div>
				<div class="rejilla--tabla__fila row ">
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera col-sm-4">Provincia</div>
					<div class="rejilla--tabla__columna col-sm-8">Navarra</div>	
				</div>
				<div class="rejilla--tabla__fila row">
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera col-sm-4">Pais</div>
					<div class="rejilla--tabla__columna col-sm-8">España</div>	
				</div>		
			</div>
		</div>
	</div>
</div>