<section class="seccion">
	<h2 class="panel-body__titulo">Datos de contacto</h2>
	<div class="form-horizontal">
		<div class="form-group">
			<label for="input-email-1" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-6">
				<input type="email" class="form-control" id="input-email-1">
			</div>
		</div>
		<div class="form-group">
			<label for="input-email-2" class="col-sm-3 control-label">Repetir email</label>
			<div class="col-sm-6">
				<input type="email" class="form-control" id="input-email-2">
			</div>
		</div>
		<div class="form-group">
			<label for="input-codigo-postal-1" class="col-sm-3 control-label">Código postal</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="input-codigo-postal-1" >
			</div>
		</div>
		<div class="form-group">
			<label for="select-pais-1" class="col-sm-3 control-label">País</label>
			<div class="col-sm-6">
				<select id="select-pais-1" class="form-control">
					<option>Selecciona</option>
					<option>España</option>
					<option>Inglaterra</option>
					<option>Noruega</option>
					<option>Finlandia</option>
					<option>Corea</option>
				</select>
			</div>
		</div>
	</div>
</section>
<section class="seccion seccion--separador-arriba--fino">
	
	{% include checkout-metodo-pago.html %}

</section>
<section class="seccion seccion--separador-arriba--fino">
	
	{% include checkout-condiciones-newsletter.html %}
	
</section>