<h2 class="panel-body__titulo">Tu reserva</h2>
<div class="island island--xs island--margen-pequeno bg-info">
	<div class="rejilla--tabla rejilla--tabla--sin-bordes">
		<div class="rejilla--tabla__fila">
			<div class="row">
				<div class="rejilla--tabla__columna col-md-12">
					<span class="rejilla--tabla__dato">Lunes, 16 febrero 2015 - 10:30h</span>
				</div>
			</div>
		</div>
		<div class="rejilla--tabla__fila">
			<div class="row">
				<div class="rejilla--tabla__columna col-md-9">
					Entrada individual (Exposiciones temporales + <em>Kunstmuseum Basel</em>)
				</div>
				<div class="rejilla--tabla__columna col-md-3">
					<span class="rejilla--tabla__dato">8 x 8.00 €</span>
				</div>
			</div>
		</div>
		<div class="rejilla--tabla__fila">
			<div class="row">
				<div class="rejilla--tabla__columna col-md-9">
					Descuento Telefónica 50% (máx. 5 entradas)</em>
				</div>
				<div class="rejilla--tabla__columna col-md-3">
					<span class="rejilla--tabla__dato">5 x -2.50€</span>
				</div>
			</div>
		</div>
		<div class="rejilla--tabla__fila">
			<div class="row">
				<div class="rejilla--tabla__columna col-md-9">
					Gastos de gestión
				</div>
				<div class="rejilla--tabla__columna col-md-3">
					<span class="rejilla--tabla__dato">8 x 0.75€</span>
				</div>
			</div>
		</div>
		<div class="rejilla--tabla__fila">
			<div class="row">
				<div class="rejilla--tabla__columna col-xs-6 col-md-9">
					Total
				</div>
				<div class="rejilla--tabla__columna col-xs-6 col-md-3">
					<span class="fuente-negrita">33.50€</span>
				</div>
			</div>
		</div>
	</div>
</div>