<h2 class="panel-body__titulo">Método de pago</h2>
<div class="form-horizontal">
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<div class="checkbox">
				<label for="input-tarjeta-credito-1">
					<input id="input-tarjeta-credito-1" type="checkbox" value="">
					Tarjeta de crédito
				</label>
			</div>
			<div class="island island--xs">
				<ul class="list-inline">
					<li><img src="img/iconos/visa.png" alt="Visa"></li>
					<li><img src="img/iconos/master-card.png" alt="Master Card"></li>
					<li><img src="img/iconos/american-express.png" alt="American Express"></li>
				</ul>
			</div>
		</div>  
	</div>
</div>