<div class="rejilla--tabla rejilla--tabla--sin-bordes">
	<div class="island island--xs island--margen-pequeno bg-info">
		<div class="row">
			<div class="col-sm-6">
				<div class="rejilla--tabla__fila">
					<div class="row">
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-4">Nombre</div>
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-8">
							<span class="fuente-negrita">Susana</span>
						</div>
					</div>
				</div>
				<div class="rejilla--tabla__fila">
					<div class="row">
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-4">Responsable</div>
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-8">
							<span class="fuente-negrita">Susana</span>
						</div>
					</div>
				</div>
				<div class="rejilla--tabla__fila">
					<div class="row">
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-4">Teléfono</div>
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-8">
							<span class="fuente-negrita">666558412</span>
						</div>
					</div>
				</div>
				<div class="rejilla--tabla__fila">
					<div class="row">
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-4">Email</div>
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-8">
							<span class="fuente-negrita">susana.arrizabalaga@gmail.com</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="rejilla--tabla__fila">
					<div class="row">
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-4">Direccion</div>
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-8">
							<span class="fuente-negrita">Pol. Ind mutilva baja</span>
						</div>	
					</div>
				</div>
				<div class="rejilla--tabla__fila">
					<div class="row">
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-4">Población</div>
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-8">
							<span class="fuente-negrita">Mutilva baja</span>
						</div>	
					</div>
				</div>
				<div class="rejilla--tabla__fila">
					<div class="row">
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-4">Código postal</div>
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-8">
							<span class="fuente-negrita">31192</span>
						</div>	
					</div>
				</div>
				<div class="rejilla--tabla__fila">
					<div class="row">
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-4">Provincia</div>
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-8">
							<span class="fuente-negrita">Navarra</span>
						</div>	
					</div>
				</div>
				<div class="rejilla--tabla__fila">
					<div class="row">
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-4">Pais</div>
						<div class="rejilla--tabla__columna rejilla--tabla__columna--izquierda col-sm-8">
							<span class="fuente-negrita">España</Espan>
						</div>	
					</div>
				</div>		
			</div>
		</div>
	</div>
</div>