<section class="seccion seccion--separador-arriba--fino">
  <div class="form-horizontal">

  <div class="row">
    <div class="col-sm-6">

      <div class="form-group">
        <label for="inputNombre" class="col-sm-4 control-label">Nombre</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" />
        </div>
      </div>
      <div class="form-group">
        <label for="inputResponsable" class="col-sm-4 control-label">Responsable</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="inputResponsable" placeholder="Responsable" />
        </div>
      </div>
       <div class="form-group">
        <label for="inputTelefono" class="col-sm-4 control-label">Teléfono</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputTelefono" placeholder="Teléfono" />
        </div>
      </div>
         <div class="form-group">
        <label for="inputEmail5" class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="inputEmail5" placeholder="Email" />
        </div>
      </div>      
    
       <div class="form-group">
        <label for="inputDNI" class="col-sm-4 control-label">DNI</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputDNI" placeholder="DNI" />
        </div>
      </div>
  
    <div class="form-group">
        <label for="inputTipo" class="col-sm-4 control-label">Tipo de grupo</label>
        <div class="col-sm-8" id="inputTipo">
          <select class="form-control">
            <option>Selecciona</option>
            <option>xxxx</option>
            <option>xxxxxx</option>
            <option>xxxxxxxxxx</option>
            <option>xx</option>
          </select>
        </div>
      </div>


    </div>
   <div class="col-sm-6">  
    <div class="form-group">
        <label for="inputDireccion" class="col-sm-4 control-label">Dirección</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputDireccion" placeholder="Direccion" />
        </div>
      </div>
      
       <div class="form-group">
        <label for="inputPostal" class="col-sm-4 control-label">Código postal</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputPostal" placeholder="Código postal" />
        </div>
      </div>
         <div class="form-group">
        <label for="inputPoblación" class="col-sm-4 control-label">Población</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputPoblación" placeholder="Población" />
        </div>
      </div>


      <div class="form-group">
        <label for="inputPais" class="col-sm-4 control-label">País</label>
        <div class="col-sm-8" id="inputPais">
          <select class="form-control">
            <option>España</option>
            <option>Inglaterra</option>
            <option>Noruega</option>
            <option>Finlandia</option>
            <option>Corea</option>
          </select>
        </div>
      </div>
        <div class="form-group">
        <label for="inputProvincia" class="col-sm-4 control-label">Provincia</label>
        <div class="col-sm-8" id="inputProvincia">
          <select class="form-control">
            <option>Asturias</option>
            <option>Almeria</option>
            <option>Barcelona</option>
            <option>Navarra</option>        
            <option>Cadiz</option>
            <option>Andalucia</option>
            <option>Tarragona</option>
          </select>
        </div>
      </div>
     </div>
   </div>  
  </section> 
<section class="seccion seccion--separador-arriba--fino">
  <h2 class="panel-body__titulo">Método de pago</h2>
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <div class="checkbox">
          <label for="input-tarjeta-credito-1">
            <input id="input-tarjeta-credito-1" type="checkbox" value="">
            Tarjeta de crédito
          </label>
        </div>
        <div class="island island--xs">
          <ul class="list-inline">
            <li><img src="img/iconos/visa.png" alt="Visa"></li>
            <li><img src="img/iconos/master-card.png" alt="Master Card"></li>
            <li><img src="img/iconos/american-express.png" alt="American Express"></li>
          </ul>
        </div>
      </div>  
    </div>
  </div>
</section>
<section class="seccion seccion--separador-arriba--fino">
<div class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox">He leído y acepto las <a href="v1.checkout-condiciones.html">condiciones de compra</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox">Deseo recibir la newsletter</a>
        </label>
      </div>
    </div>
  </div>
</div>
</section>