<table class="table visible-print-block">
	<tr>
		<th>Entrada</th>
		<th>Para fecha y hora</th>
		<th>Precio</th>
		<th>Gastos gestión</th>
		<th>Dto.</th>
		<th>Cant.</th>
		<th>Importe</th>
	</tr>
	<tr>
		<td><span class="fuente-negrita">Entrada individual</span> <br>Exposiciones temporales + <em>Kunstmuseum Btdl</em></td>
		<td>19/02/2015</td>
		<td>8€</td>
		<td>6€</td>
		<td>-20€</td>
		<td>8</td>
		<td>40.00€</td>
	</tr>
	<tr>
		<td colspan="6"><span class="fuente-negrita">Total</span></td>
		<td><span class="fuente-negrita">46.00€</span></td>
	</tr>
</table>