<h2 class="panel-body__titulo">Tu reserva</h2>
<div class="island island--xs bg-info">
	<div class="rejilla--tabla rejilla--tabla--sin-bordes">
		<div class="rejilla--tabla__fila row">
			<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-12">Lunes, 16 febrero 2015 - 10:30h</div>
		</div>
		<div class="rejilla--tabla__fila row">
			<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-9">Entrada individual <span class="fuente-normal">(Exposiciones temporales + <em>Kunstmuseum Basel</em>)</span></div>
			<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-3"><span class="fuente-normal">8 x 8.00 €</span></div>		
		</div>
		<div class="rejilla--tabla__fila row">
			<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-9">Descuento Telefónica 50% <span class="fuente-normal">(máx. 5 entradas)</em></span></div>
			<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-3">
				<span class="fuente-normal">5 x -2.50€</span>
			</div>		
		</div>
		<div class="rejilla--tabla__fila row">
			<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-9">Gastos de gestión</div>
			<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-3">
				<span class="fuente-normal">8 x 0.75€</span>
			</div>		
		</div>
		<div class="rejilla--tabla__fila row">
			<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-xs-6 col-sm-9">Total</div>
			<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-xs-6 col-sm-3"><strong>33.50€</strong></div>
		</div>
	</div>
</div>