<div class="rejilla--tabla">
	<div class="rejilla--tabla__fila row hidden-xs">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-4">Entrada</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-2">Fecha y hora</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Precio</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-2">Gastos de gestión</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Dto.</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Cant.</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Importe</div>
	</div>

	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-4">Entrada individual <br><span class="fuente-normal">Exposiciones temporales + <br><em>Kunstmuseum Basel</em></span></div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-2">
			<span class="fuente-negrita visible-xs-inline">Fecha y hora</span> 19/02/2015
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			<span class="fuente-negrita visible-xs-inline">Precio</span> 8€
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-2">
			<span class="fuente-negrita visible-xs-inline">Gastos de gestión</span> 6€
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			<span class="fuente-negrita visible-xs-inline">Dto.</span> -20€
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			<span class="fuente-negrita visible-xs-inline">Cant.</span> 8
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
			<span class="fuente-negrita visible-xs-inline">Importe</span> 40.00€
		</div>
	</div>
	
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-xs-6 col-sm-10">Total</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1 text-right hidden-xs"><strong>8</strong></div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-xs-4 col-sm-1 text-right"><strong>46.00€</strong></div>
	</div>
</div>