<div class="rejilla--tabla">
	<div class="rejilla--tabla__fila hidden-xs">
		<div class="media">
			<div class="media__izquierda">
				<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda">
		 			<input type="checkbox">
				</div>				
			</div>
			<div class="media__contenido">
				<div class="row">
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-2">Tipo entrada</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Localizador</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Pedido</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Fecha de compra</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Fecha de visita</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Gastos de gestión</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Dto.</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Cant.</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Importe</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Estado</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-1">Acciones</div>
				</div>
			</div>
		</div>
	</div>
	<div class="rejilla--tabla__fila">
		<div class="media">
			<div class="media__izquierda">
				<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda">
				 	<input type="checkbox">
				</div>
			</div>
			<div class="media__contenido">
				<div class="row">
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-2">Entrada Grupo Turístico <br><span class="fuente-normal">Exposiciones temporales + <em>Kunstmuseum Basel</em></span></div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Localizador</span> R08360
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Pedido</span> 158742369
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Fecha de compra</span> 7/01/2015
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Fecha de visita</span> 19/02/2015
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Gastos de gestión</span> 3.2€
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Dto.</span> -7.5€
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Cant.</span> 8
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Importe</span> 19.70€
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Estado</span> Activa
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">

						{% include rejilla--tabla__columna__botonera--mis-reservas.html %}
						
					</div>
				</div>
			</div>
		</div>		
	</div>
	<div class="rejilla--tabla__fila">
		<div class="media">
			<div class="media__izquierda">
				<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda">
				 	<input type="checkbox">
				</div>
			</div>
			<div class="media__contenido">
				<div class="row">
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-2">Entrada Grupo Turístico <br><span class="fuente-normal">Colección</span></div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Localizador</span> R08395
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Pedido</span> 258741369
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Fecha de compra</span> 7/01/2015
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Fecha de visita</span> 2/04/2015
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Gastos de gestión</span> 4€
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Dto.</span> 
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Cant.</span> 10
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Importe</span> 44.00€
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Estado</span> Activa
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						
						{% include rejilla--tabla__columna__botonera--mis-reservas.html %}

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="rejilla--tabla__fila">
		<div class="media">
			<div class="media__izquierda">
				<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda">
				 	<input type="checkbox">
				</div>
			</div>
			<div class="media__contenido">
				<div class="row">
					<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-2">Entrada Grupo Turístico <br><span class="fuente-normal">Exposiciones temporales</span></div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Localizador</span> R08496
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Pedido</span> 259874569
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Fecha de compra</span> 21/01/2015
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Fecha de visita</span> 23/01/2015
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Gastos de gestión</span> 4€
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Dto.</span> 
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Cant.</span> 10
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Importe</span> 24.00€
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						<span class="fuente-negrita visible-xs-inline">Estado</span> Activa
					</div>
					<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
						
						{% include rejilla--tabla__columna__botonera--mis-reservas.html %}

					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<div class="clearfix">
	<div class="rejilla--adaptable pull-right">
		<div class="rejilla--adaptable__contenedor">
			<div class="rejilla--adaptable__fila">
				<div class="rejilla--adaptable__columna rejilla--adaptable__columna--vertical-centrada">Mostrando</div>
				<div class="rejilla--adaptable__columna rejilla--adaptable__columna--vertical-centrada">
					<label for="select-numero-pagina-1" class="sr-only">Número de página</label>
					<select id="select-numero-pagina-1" class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
				</div>
				<div class="rejilla--adaptable__columna rejilla--adaptable__columna--vertical-centrada">de 12</div>
			</div>
		</div>
	</div>
</div>