<p class="lead"><strong>Tu reserva:</strong> Lunes, 16 febrero 2015 - 10:30h</p>
<div class="rejilla--tabla rejilla--tabla--sinbordes">

	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-8">Entrada individual <br><span class="fuente-normal">Exposiciones temporales + <em>Kunstmuseum Basel</em></span></div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-4"><span class="fuente-normal">8 x 8.00 €</span></div>		
	</div>
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-8">Descuento Telefónica 50% <br /> <span class="fuente-normal">máx. 5 entradas</em></span></div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-4">
			<span class="fuente-normal">5 x -2.50€</span>
		</div>		
	</div>
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-8">Gastos de gestión</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-4">
			<span class="fuente-normal">8 x 0.75€</span>
		</div>		
	</div>
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-xs-6 col-sm-8">Total</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-xs-6 col-sm-4 text-right"><strong>33.50€</strong></div>
	</div>
</div>