<div class="form-horizontal">
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<div class="checkbox">
				<label for="input-condiciones-compra-1">
					<input id="input-condiciones-compra-1" type="checkbox">He leído y acepto las <a href="v1.checkout-condiciones.html">condiciones de compra</a>
				</label>
			</div>
			<div class="checkbox">
				<label for="input-newsletter-1">
					<input id="input-newsletter-1" type="checkbox">Deseo recibir la newsletter</a>
				</label>
			</div>
		</div>
	</div>
</div>