<div class="rejilla--tabla hidden-print">
	<div class="rejilla--tabla__fila rejilla--tabla__fila--cabecera">
		<div class="row">
			<div class="rejilla--tabla__columna col-md-3">Entrada</div>
			<div class="rejilla--tabla__columna col-md-2">Para fecha y hora</div>
			<div class="rejilla--tabla__columna col-md-1">Precio</div>
			<div class="rejilla--tabla__columna col-md-2">Gastos gestión</div>
			<div class="rejilla--tabla__columna col-md-1">Dto.</div>
			<div class="rejilla--tabla__columna col-md-1">Cant.</div>
			<div class="rejilla--tabla__columna col-md-2">Importe</div>
		</div>
	</div>
	<div class="rejilla--tabla__fila">
		<div class="row">
			<div class="rejilla--tabla__columna col-md-3">
				<p>
					<span class="fuente-negrita">Entrada individual</span> <br>Exposiciones temporales + <em>Kunstmuseum Basel</em>
				</p>
			</div>
			<div class="rejilla--tabla__columna col-md-2">
				<p>
					<span class="rejilla--tabla__etiqueta">Fecha y hora</span> <span class="rejilla--tabla__dato">19/02/2015</span>
				</p>
			</div>
			<div class="rejilla--tabla__columna col-md-1">
				<p>
					<span class="rejilla--tabla__etiqueta">Precio</span> <span class="rejilla--tabla__dato">8€</span>
				</p>
			</div>
			<div class="rejilla--tabla__columna col-md-2">
				<p>
					<span class="rejilla--tabla__etiqueta">Gastos de gestión</span> <span class="rejilla--tabla__dato">6€</span>
				</p>
			</div>
			<div class="rejilla--tabla__columna col-md-1">
				<p>
					<span class="rejilla--tabla__etiqueta">Dto.</span> <span class="rejilla--tabla__dato">-20€</span>
				</p>
			</div>
			<div class="rejilla--tabla__columna col-md-1">
				<p>
					<span class="rejilla--tabla__etiqueta">Cant.</span> <span class="rejilla--tabla__dato">8</span>
				</p>
			</div>
			<div class="rejilla--tabla__columna col-md-2">
				<p>
					<span class="rejilla--tabla__etiqueta">Importe</span> <span class="rejilla--tabla__dato">40.00€</span>
				</p>
			</div>
		</div>
	</div>
	<div class="rejilla--tabla__fila">
		<div class="row">
			<div class="rejilla--tabla__columna col-xs-6 col-md-10">
				<p class="fuente-negrita">Total</p>
			</div>
			<div class="rejilla--tabla__columna col-xs-6 col-md-2 text-right">
				<p class="fuente-negrita">46.00€</p>
			</div>
		</div>
	</div>
</div>