<p class="lead"><strong>Tu reserva:</strong> Miercoles, 16 marzo 2015 - 10:30h</p>
<div class="rejilla--tabla rejilla--tabla--sinbordes">

	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-8">Entrada grupo turístico <br><span class="fuente-normal">Exposiciones + <em>Kunstmuseum Basel</em></span></div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-4"><span class="fuente-normal">8 x 3.00 €</span></div>		
	</div>
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-8">Gastos de gestión</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-4">
			<span class="fuente-normal">8 x 0.40€</span>
		</div>		
	</div>
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-xs-6 col-sm-8">Total</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-xs-6 col-sm-4 text-right"><strong>27.20€</strong></div>
	</div>
</div>