<div class="form-horizontal">
	
	{% for alerta in site.data.alertas.checkout offset:4 limit:1 %}

		{% include alert.html %}

	{% endfor %}

	<div class="form-group">
		<label for="input-usuario-1" class="col-sm-4 control-label">Usuario</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="input-usuario-1">
		</div>
	</div>
	<div class="form-group">
		<label for="input-contrasena-1" class="col-sm-4 control-label">Contraseña</label>
		<div class="col-sm-8">
			<input type="password" class="form-control" id="input-contrasena-1">
		</div>
	</div>
	<div class="form-group">
		<label for="input-contrasena-2" class="col-sm-4 control-label">Repite Contraseña</label>
		<div class="col-sm-8">
			<input type="password" class="form-control" id="input-contrasena-2">
		</div>
	</div>
	<div class="form-group">
		<label for="input-nombre-razon-social-1" class="col-sm-4 control-label">Nombre/razón social</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="input-nombre-razon-social-1">
		</div>
	</div>
	<div class="form-group has-error">
		<label for="input-cif-nif-1" class="col-sm-4 control-label">CIF/NIF</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="input-cif-nif-1">
		</div>
	</div>
	<div class="form-group">
		<label for="input-telefono-1" class="col-sm-4 control-label">Teléfono</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="input-telefono-1">
		</div>
	</div>
	<div class="form-group">
		<label for="input-email-1" class="col-sm-4 control-label">Email</label>
		<div class="col-sm-8">
			<input type="email" class="form-control" id="input-email-1">
		</div>
	</div>
	<div class="form-group">
		<label for="input-direccion-1" class="col-sm-4 control-label">Dirección</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="input-direccion-1">
		</div>
	</div>
	<div class="form-group">
		<label for="input-postal-1" class="col-sm-4 control-label">Código postal</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="input-postal-1">
		</div>
	</div>
	<div class="form-group">
		<label for="input-poblacion-1" class="col-sm-4 control-label">Población</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="input-poblacion-1">
		</div>
	</div>
	<div class="form-group">
		<label for="input-pais-1" class="col-sm-4 control-label">País</label>
		<div class="col-sm-8" id="input-pais-1">
			<select class="form-control">
				<option>España</option>
				<option>Inglaterra</option>
				<option>Noruega</option>
				<option>Finlandia</option>
				<option>Corea</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="input-provincia-1" class="col-sm-4 control-label">Provincia</label>
		<div class="col-sm-8" id="input-provincia-1">
			<select class="form-control">
				<option>Asturias</option>
				<option>Almeria</option>
				<option>Barcelona</option>
				<option>Navarra</option>        
				<option>Cadiz</option>
				<option>Andalucia</option>
				<option>Tarragona</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-8">
			<div class="checkbox">
				<label for="input-condiciones-compra-1">
					<input id="input-condiciones-compra-1" type="checkbox">He leído y acepto las <a href="v1.checkout-condiciones.html">condiciones de compra</a>
				</label>
			</div>
			<div class="checkbox">
				<label for="input-newsletter-1">
					<input id="input-newsletter-1" type="checkbox">Deseo recibir la newsletter</a>
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-8">
			<a href="" class="btn btn-primary btn-block btn-lg">Registrarme</a>
		</div>
	</div>
</div>