<div class="island island--xs bg-info text-center">
	<p>Has seleccionado dos reservas:</p>
	<p>Importe <em>63.7€ (7.20€ gastos de gestión incluidos)</em></p>
	<div class="botonera">
		<div class="row">
			<div class="col-md-offset-3 col-sm-6">	
				<div class="col-sm-4">
					<div class="botonera__accion">
						<a href="" class="btn btn-primary btn-md btn-block botonera__accion__boton">Pagar entradas</a>
					</div>
				</div>
				<div class="col-sm-4 ">
					<div class="botonera__accion">
						<a href="" class="btn btn-primary btn-md btn-link botonera__accion__boton">Anular reserva</a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="botonera__accion">
						<a href="" class="btn btn-primary btn-md btn-link btn-block botonera__accion__boton">Enviar por mail</a>
					</div> 
				</div>
			</div>
		</div>
	</div>
</div>