<section class="island island--xs island--margen-pequeno bg-info">
	<h2 class="h4">Buscar compras</h2>
	<div class="form-inline">
		<div class="form-group">
			<label for="input-date-1" class="control-label">Desde</label>		
			<input type="date" class="form-control" id="input-date-1">	
		</div>
		<div class="form-group">
			<label for="input-date-2" class="control-label">Hasta</label>	
			<input type="date" class="form-control" id="input-date-2">
		</div>
		<div class="form-group">
			<label for="input-localizador-1" class="control-label">Localizador</label>	
			<input type="text" class="form-control" id="input-localizador-1" >	
		</div>
		<div class="form-group">
			<label for="select-pais-1" class="control-label">Estado</label>
			<select id="select-pais-1" class="form-control">
				<option>Todos</option>
				<option>Pagadas</option>			
			</select>
		</div>
		<div class="form-group">
			<a href="" class="btn btn-primary">Buscar</a>
		</div>
	</div>
</section>
