<section class="seccion seccion--separador-arriba--fino">
	<div class="form-horizontal">

		{% for alerta in site.data.alertas.checkout offset:4 limit:1 %}

		{% include alert.html %}

		{% endfor %}

		<div class="form-group">
			<label for="inputUsuario3" class="col-sm-4 control-label">Usuario</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="inputUsuario3" placeholder="Email" />
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-4 control-label">Contraseña</label>
			<div class="col-sm-8">
				<input type="password" class="form-control" id="inputPassword3" placeholder="password" />
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword4" class="col-sm-4 control-label">Repite Contraseña</label>
			<div class="col-sm-8">
				<input type="password" class="form-control" id="inputPassword4" placeholder="password" />
			</div>
		</div>
		<div class="form-group">
			<label for="inputRazon" class="col-sm-4 control-label">Nombre/razón social</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="inputRazon" placeholder="Razon Social" />
			</div>
		</div>
		<div class="form-group has-error">
			<label for="inputCIF" class="col-sm-4 control-label">CIF/NIF</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="inputCIF" placeholder="CIF/NIF" />
			</div>
		</div>
		<div class="form-group">
			<label for="inputTelefono" class="col-sm-4 control-label">Teléfono</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="inputTelefono" placeholder="Teléfono" />
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail5" class="col-sm-4 control-label">Email</label>
			<div class="col-sm-8">
				<input type="email" class="form-control" id="inputEmail5" placeholder="Email" />
			</div>
		</div>
		<div class="form-group">
			<label for="inputDireccion" class="col-sm-4 control-label">Dirección</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="inputDireccion" placeholder="Direccion" />
			</div>
		</div>
		<div class="form-group">
			<label for="inputPostal" class="col-sm-4 control-label">Código postal</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="inputPostal" placeholder="Código postal" />
			</div>
		</div>
		<div class="form-group">
			<label for="inputPoblación" class="col-sm-4 control-label">Población</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" id="inputPoblación" placeholder="Población" />
			</div>
		</div>


		<div class="form-group">
			<label for="inputPais" class="col-sm-4 control-label">País</label>
			<div class="col-sm-8" id="inputPais">
				<select class="form-control">
					<option>España</option>
					<option>Inglaterra</option>
					<option>Noruega</option>
					<option>Finlandia</option>
					<option>Corea</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="inputProvincia" class="col-sm-4 control-label">Provincia</label>
			<div class="col-sm-8" id="inputProvincia">
				<select class="form-control">
					<option>Asturias</option>
					<option>Almeria</option>
					<option>Barcelona</option>
					<option>Navarra</option>        
					<option>Cadiz</option>
					<option>Andalucia</option>
					<option>Tarragona</option>
				</select>
			</div>
		</div>
	</div>
</section> 

<section class="seccion seccion--separador-arriba--fino">

	{% include checkout-condiciones-newsletter.html %}

</section>

<div class="botonera botonera--centrada">
	<div class="botonera__botones">
		<a href="" class="btn btn-primary btn-lg botonera__boton">Registrarme</a>  
	</div>
</div>