<section class="seccion">
	<div class="form-inline">

		<p class="h4">Buscar reservas</p>
		<div class="form-group">
		
			<label for="input-date1" class="control-label">desde</label>		
			<input type="date" class="form-control" id="input-date1">	
		</div>
		<div class="form-group">
			<label for="input-date2" class="control-label">Hasta</label>	
			<input type="date" class="form-control" id="input-date2">
		
		</div>
		<div class="form-group">
			<label for="input-localizador" class="control-label">localizador</label>	
			<input type="text" class="form-control" id="input-localizador" >	
		</div>
		<div class="form-group">
			<label for="select-pais-1" class="control-label">Estado</label>

			<select id="select-pais-1" class="form-control">
				<option>Todos</option>
				<option>Pagadas</option>			
			</select>
		</div>
		<div class="form-group">
			<a href="" class="btn btn-primary btn-md btn-block botonera__boton">Buscar</a>
		</div>
	</div>
</section>
