<div class="modal fade modal--pantalla-completa" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<p>
								<a href="" class="btn btn-primary">← Todas las entradas</a>
							</p>		
						</div>
						<div class="col-md-9">

							<div class="titulo-pagina">
								<div class="titulo-pagina__titulos">
									<h1 class="titulo-pagina__titulos__titulo">Entrada individual</h1>
									<h2 class="titulo-pagina__titulos__subtitulo">Exposiciones + <em>Kunstmuseum Basel</em></h2>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-9">

									<p class="lead">Incluye la visita a las exposiciones:</p>

									<article class="miniatura">
										<a href="" class="miniatura__enlace enlace--bloque">
											<p class="miniatura__antetitulo">15 octubre, 2014 - 2 marzo, 2015</p>
											<h3 class="miniatura__titulo">Juan Luis Moraza</h3>
											<h4 class="miniatura__subtitulo">república</h4>
											<p class="miniatura__texto">república es una exposición de Juan Luis Moraza (Vitoria, 1960) que reúne una amplia selección de sus obras, estructurada en áreas que examinan el museo como sistema de convenciones y posibilidades de ciudadanía.</p>
										</a>
									</article>
									<article class="miniatura">
										<a href="" class="miniatura__enlace enlace--bloque">
											<p class="miniatura__antetitulo">13 junio - 26 octubre, 2014</p>
											<h3 class="miniatura__titulo">Kerry James Marshall: <em>pintura y otras cosas</em></h3>
											<p class="miniatura__texto">La exposición Kerry James Marshall: pintura y otras cosas, se configura como una de las muestras más amplias dedicadas a este autor norteamericano. (Birmingham, Alabama, 1955; reside en Chicago)<br>
											Kerry Jame Marshall. Lost boys AKA Black Johnny, 1993. Cortesía del artista. Galería Jack Shainman, NY, y Koplin Del Rio, CA</p>
										</a>
									</article>
									<article class="miniatura">
										<a href="" class="miniatura__enlace enlace--bloque">
											<p class="miniatura__antetitulo">28 mayo, 2014 – 5 enero, 2015</p>
											<h3 class="miniatura__titulo">fotos & libros. España 1905-1977</h3>
											<p class="miniatura__texto">La exposición fotos y libros. España 1905-1977 propone un recorrido por la historia del fotolibro español, comenzando a principios del siglo XX y finalizando a mediados de los años setenta, con una selección de la colección del Museo Reina Sofía, contextualizados y acompañados de un variado material complementario. <br>Colección Palabra e Imagen, publicada por la editorial Lumen entre 1961 y 1975</p>
										</a>
									</article>
									<article class="miniatura">
										<a href="" class="miniatura__enlace enlace--bloque">
											<h3 class="miniatura__titulo">Kunstmuseumm Basel <em>Le génie</em></h3>
											<p class="miniatura__texto">La exposición constituye una aproximación al trabajo de XXXXXX XXXXXX (Danzig. 1915 - México DF, 1990) realizado desde su instalación en México, en 1949. A lo largo de cuatro décadas, en su producción tanto teórica como práctica converge la utopía racional con el neoprimitivismo, factores que derivan de su propia biografía: el periplo por distintas ciudades de Europa y del norte de África (1948).</p>
										</a>
									</article>
									<img src="img/628x353.gif" class="img-responsive">
								</div>
								<div class="col-sm-3">
									<div class="panel panel-primary">
										<div class="panel-heading text-center">
											<span class="h1">8€</span>
										</div>
										<div class="panel-footer text-center">
											+0,75€ <span class="fuente-pequena">gastos de gestión por entrada</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

