<div class="modal fade modal--pantalla-completa" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			
			<div class="modal-body">
				<h1>Entrada individual <small>Exposiciones + <em>Kunstmuseum Basel</em></small></h1>
				<p class="lead">Incluye la visita a las exposiciones:</p>

				<h2><a href="">Juan Luis Moraza</a> república</h2>
				<p>15 octubre, 2014 - 2 marzo, 2015</p>
				<p>república es una exposición de Juan Luis Moraza (Vitoria, 1960) que reúne una amplia selección de sus obras, estructurada en áreas que examinan el museo como sistema de convenciones y posibilidades de ciudadanía.</p>

				<h2><a href="">Kerry James Marshall: <em>pintura y otras cosas</em></a> 13 junio - 26 octubre, 2014</h2>
				<p>La exposición Kerry James Marshall: pintura y otras cosas, se configura como una de las muestras más amplias dedicadas a este autor norteamericano. (Birmingham, Alabama, 1955; reside en Chicago)<br>
				Kerry Jame Marshall. Lost boys AKA Black Johnny, 1993. Cortesía del artista. Galería Jack Shainman, NY, y Koplin Del Rio, CA</p>

				<h2><a href="">fotos & libros. España 1905-1977</a> 28 mayo, 2014 – 5 enero, 2015</h2>
				<p>La exposición fotos y libros. España 1905-1977 propone un recorrido por la historia del fotolibro español, comenzando a principios del siglo XX y finalizando a mediados de los años setenta, con una selección de la colección del Museo Reina Sofía, contextualizados y acompañados de un variado material complementario. <br>
				Colección Palabra e Imagen, publicada por la editorial Lumen entre 1961 y 1975</p>

				<h2><a href="">Kunstmuseumm Basel <em>Le génie</em></a></h2>
				<p>La exposición constituye una aproximación al trabajo de XXXXXX XXXXXX (Danzig. 1915 - México DF, 1990) realizado desde su instalación en México, en 1949. A lo largo de cuatro décadas, en su producción tanto teórica como práctica converge la utopía racional con el neoprimitivismo, factores que derivan de su propia biografía: el periplo por distintas ciudades de Europa y del norte de África (1948).</p>
			</div>
		</div>
	</div>
</div>

