<header>
	<div class="container">
		<nav class="navegacion-principal">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6 col-md-5 col-md-push-7 col-lg-4 col-lg-push-8">
					<div class="navegacion-principal__grupo-botones">
						<div class="btn-group btn-group-justified btn-group-sm">
							<a href="#" class="btn btn-default navegacion-principal__grupo-botones__boton">Todas las entradas</a>
							<a href="#" class="btn btn-default navegacion-principal__grupo-botones__boton">Tus compras/reservas</a>
						</div>		
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-6 col-md-7 col-md-pull-5 col-lg-8 col-lg-pull-4">
					<div class="navegacion-principal__cabecera">
						<a class="navegacion-principal__cabecera__logo" href="#">
							<span class="sr-only">Museo Nacional Centro de Arte Reina Sofía</span>
						</a>
						<p class="navegacion-principal__cabecera__slogan">Compra y reserva de entradas</p>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>