
<div class="modal fade bs-example-modal-md" id="password" tabindex="-1" role="dialog" aria-labelledby="password"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="terminos">No recuerdo mi contraseña</h4>
            </div>
            <div class="modal-body">
                <div class="island island--xs bg-info">
                  <p>Te enviaremos un mail con tu contraseña</p>
                </div>
                   <div class="form-horizontal">
                      <div class="form-group">
                        <label for="inputemail" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputemail" placeholder="email">
                        </div>
                    </div> 
                   </div> 
            </div>
             <div class="modal-footer">
              <div class="botonera botonera--centrada">
                <div class="botonera__botones">
                     
                  <a href="" class="btn btn-primary btn-lg botonera__boton">Recordar contraseña</a>    


                </div>
              </div>  
        </div>
    </div>
</div>