<div class="modal fade" id="password" tabindex="-1">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
					aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="terminos">No recuerdo mi contraseña</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-10 col-sm-offset-1">
						<div class="island island--sm island--margen-pequeno bg-info">
							<p class="lead text-center">Te enviaremos un mail con tu contraseña</p>
							<div class="margen-pequeno">
								<label for="input-email-1" class="sr-only">Email</label>
								<input type="email" class="form-control input-lg" id="input-email-1" placeholder="Email">
							</div>
							<a href="" class="btn btn-primary btn-lg btn-block">Recordar contraseña</a>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>