<div class="rejilla--tabla__fila rejilla--tabla__fila--cabecera rejilla--tabla__fila--seleccionable">
	<input type="checkbox">
	<div class="row">
		<div class="rejilla--tabla__columna col-md-2">Tipo entrada</div>
		<div class="rejilla--tabla__columna col-md-1">Localizador</div>
		<div class="rejilla--tabla__columna col-md-1">Pedido</div>
		<div class="rejilla--tabla__columna col-md-1">Fecha de compra</div>
		<div class="rejilla--tabla__columna col-md-1">Fecha de visita</div>
		<div class="rejilla--tabla__columna col-md-1">Gastos de gestión</div>
		<div class="rejilla--tabla__columna col-md-1">Dto.</div>
		<div class="rejilla--tabla__columna col-md-1">Cant.</div>
		<div class="rejilla--tabla__columna col-md-1">Importe</div>
		<div class="rejilla--tabla__columna col-md-1">Estado</div>
		<div class="rejilla--tabla__columna col-md-1">Acciones</div>
	</div>
</div>