<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-2">Entrada Grupo Turístico <br><span class="fuente-normal">Exposiciones temporales</span></div>
<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
	<span class="fuente-negrita visible-xs-inline">Localizador</span> R08496
</div>
<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
	<span class="fuente-negrita visible-xs-inline">Pedido</span> 259874569
</div>
<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
	<span class="fuente-negrita visible-xs-inline">Fecha de compra</span> 21/01/2015
</div>
<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
	<span class="fuente-negrita visible-xs-inline">Fecha de visita</span> 23/01/2015
</div>
<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
	<span class="fuente-negrita visible-xs-inline">Gastos de gestión</span> 4€
</div>
<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
	<span class="fuente-negrita visible-xs-inline">Dto.</span> 
</div>
<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
	<span class="fuente-negrita visible-xs-inline">Cant.</span> 10
</div>
<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
	<span class="fuente-negrita visible-xs-inline">Importe</span> 24.00€
</div>
<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-1">
	<span class="fuente-negrita visible-xs-inline">Estado</span> Activa
</div>