<div class="rejilla--tabla">

	{% include tabla--mis-compras-mis-reservas__fila--1.html %}

	{% include tabla--mis-compras-mis-reservas__fila__inicio--fila-seleccionada.html %}	

		<div class="row">

			{% include tabla--mis-compras-mis-reservas__fila--2__inicio.html %}

				{% include tabla--mis-reservas__botonera--en-linea.html %}

			{% include tabla--mis-compras-mis-reservas__fila--2__fin.html %}
			
			{% include tabla--mis-reservas__botonera.html %}
		
		</div>
		
	{% include tabla--mis-compras-mis-reservas__fila__fin.html %}

	{% include tabla--mis-compras-mis-reservas__fila__inicio--fila-seleccionada.html %}	

		<div class="row">

			{% include tabla--mis-compras-mis-reservas__fila--3__inicio.html %}

				{% include tabla--mis-reservas__botonera--en-linea.html %}

			{% include tabla--mis-compras-mis-reservas__fila--3__fin.html %}
			
			{% include tabla--mis-reservas__botonera.html %}
		
		</div>
		
	{% include tabla--mis-compras-mis-reservas__fila__fin.html %}

	{% include tabla--mis-compras-mis-reservas__fila__inicio.html %}	

		<div class="row">

			{% include tabla--mis-compras-mis-reservas__fila--4__inicio.html %}

				{% include tabla--mis-reservas__botonera--en-linea.html %}

			{% include tabla--mis-compras-mis-reservas__fila--4__fin.html %}
			
			{% include tabla--mis-reservas__botonera.html %}
		
		</div>
		
	{% include tabla--mis-compras-mis-reservas__fila__fin.html %}
	
</div>

{% include tabla--mis-compras-mis-reservas__paginado.html %}