<section class="seccion clearfix">
	<div class="rejilla--adaptable pull-right">
		<div class="rejilla--adaptable__contenedor">
			<div class="rejilla--adaptable__fila">
				<div class="rejilla--adaptable__columna rejilla--adaptable__columna--vertical-centrada">Mostrando</div>
				<div class="rejilla--adaptable__columna rejilla--adaptable__columna--vertical-centrada">
					<label for="select-numero-pagina-1" class="sr-only">Número de página</label>
					<select id="select-numero-pagina-1" class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
				</div>
				<div class="rejilla--adaptable__columna rejilla--adaptable__columna--vertical-centrada">de 12</div>
			</div>
		</div>
	</div>
</section>