<div class="rejilla--tabla__columna col-md-2">
	<p>
		<span class="fuente-negrita">Entrada Grupo Turístico</span> <br>Exposiciones temporales + <em>Kunstmuseum Basel</em>
	</p>
</div>
<div class="rejilla--tabla__columna col-md-1">
	<p>
		<span class="rejilla--tabla__etiqueta">Localizador </span><span class="rejilla--tabla__dato">R08360</span>
	</p>
</div>
<div class="rejilla--tabla__columna col-md-1">
	<p>
		<span class="rejilla--tabla__etiqueta">Pedido </span><span class="rejilla--tabla__dato">158742369</span>
	</p>
</div>
<div class="rejilla--tabla__columna rejilla--tabla__columna--oculta col-md-1">
	<p>
		<span class="rejilla--tabla__dato">7/01/2015</span>
	</p>
</div>
<div class="rejilla--tabla__columna rejilla--tabla__columna--oculta col-md-1">
	<p>
		<span class="rejilla--tabla__dato">19/02/2015</span>
	</p>
</div>
<div class="rejilla--tabla__columna rejilla--tabla__columna--oculta col-md-1">
	<p>
		<span class="rejilla--tabla__dato">3.2€</span>
	</p>
</div>
<div class="rejilla--tabla__columna rejilla--tabla__columna--oculta col-md-1">
	<p>
		<span class="rejilla--tabla__dato">-7.5€</span>
	</p>
</div>
<div class="rejilla--tabla__columna col-xs-6 col-sm-3 col-md-1">
	<p>
		<span class="rejilla--tabla__etiqueta">Cantidad </span><span class="rejilla--tabla__dato rejilla--tabla__dato--destacado">8</span>
	</p>
</div>
<div class="rejilla--tabla__columna col-xs-6 col-sm-9 col-md-1">
	<p>
		<span class="rejilla--tabla__dato rejilla--tabla__dato--destacado">19.70€</span>
	</p>
</div>
<div class="rejilla--tabla__columna rejilla--tabla__columna--oculta col-md-1">
	<p>
		<span class="rejilla--tabla__dato">Activa</span>
	</p>
</div>

<div class="col-xs-12 rejilla--tabla__columna__mas-datos">
	<p>
		<a class="btn btn-default btn-sm" data-toggle="collapse" href="#collapse-datos-1" aria-expanded="false" aria-controls="collapse-datos-1">Ver más</a>
	</p>
	<div class="collapse" id="collapse-datos-1">
		<p>Fecha de compra <span class="rejilla--tabla__dato">7/01/2015</span></p>
		<p>Fecha de visita <span class="rejilla--tabla__dato">19/02/2015</span></p>
		<p>Gastos de gestión <span class="rejilla--tabla__dato">3.2€</span></p>
		<p>Dto. <span class="rejilla--tabla__dato">-7.5€</span></p>
		<p>Estado <span class="rejilla--tabla__dato">Activa</span></p>		