/*doc
---
title: Checkout
category: Global
---

Documentación...

<div class="alert alert-error">Revisar que elementos se pueden convertir en componentes.</div>

*/

.input-xlg {
	font-size: $font-size-large + 4;
}