/*doc
---
title: Navegación principal
category: Módulos
---


```html_example
<header>
	<div class="container">
		<nav class="navegacion-principal">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6 col-md-5 col-md-push-7 col-lg-4 col-lg-push-8">
					<div class="navegacion-principal__grupo-botones">
						<div class="btn-group btn-group-justified btn-group-sm">
							<a href="#" class="btn btn-default navegacion-principal__grupo-botones__boton">Todas las entradas</a>
							<a href="#" class="btn btn-default navegacion-principal__grupo-botones__boton">Tus compras/reservas</a>
						</div>		
					</div>
				</div>
				<div class="col-sm-6 col-sm-pull-6 col-md-7 col-md-pull-5 col-lg-8 col-lg-pull-4">
					<div class="navegacion-principal__cabecera">
						<a class="navegacion-principal__cabecera__logo" href="#">
							<span class="sr-only">Museo Nacional Centro de Arte Reina Sofía</span>
						</a>
						<p class="navegacion-principal__cabecera__slogan">Compra y reserva de entradas</p>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>
```

*/

.navegacion-principal {
	@include margin-bottom-sm;
	@media (min-width: $screen-sm-min) {
		@include padding-top-xs;
		border-top: 10px solid $gray-dark;
	}
}


.navegacion-principal__cabecera {
	min-height: 65px;
	position: relative;
	padding: 18px 15px 0 115px;
	@media (min-width: $screen-sm-min) {
		min-height: 60px;
		padding: 0 0 0 135px;	
	}
	@media (min-width: $screen-md-min) {
		@include padding-top-xs;
	}
}

.lt-ie9 .navegacion-principal__cabecera {
	min-height: 47px;
	@media (min-width: $screen-sm-min) {
		min-height: 45px;
	}
}

.navegacion-principal__cabecera__logo {
	@include no-padding;
	position: absolute;
	top: 15px;
	left: 0;
	@media (max-width: $screen-xs-max) {
		@include spriteReplace (sprite1, 3, 0, 100px, 50px);
	}
	@media (min-width: $screen-sm-min) {
		@include spriteReplace (sprite1, 0, 0, 120px, 60px);
		top: 0;
	}
}

.lt-ie9 {
	.navegacion-principal__cabecera__logo {
		@media (max-width: $screen-xs-max) {
			@include spritePNG (sprite1);
		}
		@media (min-width: $screen-sm-min) {
			@include spritePNG (sprite1);
		}
	}
}

.navegacion-principal__cabecera__slogan {
	font-family: $font-museo-regular;
	@include font-size-navegacion-principal__cabecera__slogan;
	@include no-margin;
	line-height: 1.1;
	@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
		margin-top: 10px;
	}
}

.navegacion-principal__grupo-botones {
	@media (min-width: $screen-sm-min) {
		@include margin-top-xs;
		text-align: right;
	}
	@media (min-width: $screen-lg-min) {
		margin-top: 18px;
	}
	@media (max-width: $screen-xs-max) {
		margin-left: -15px;
		margin-right: -15px;
		padding: 5px;
		@include clearfix;
		background-color: #000;
		text-align: right;
	}
	.btn-default,
	.btn-primary {
		@media (max-width: $screen-xs-max) {
			@include button-variant($gray-light, $gray-dark, $gray-dark);
		}
	}
}

.navegacion-principal__grupo-botones__boton {
	@media (max-width: $screen-xs-max) {
		border-radius: 0;
	}
}