/*doc
---
title: Pie principal
category: Módulos
---

```html_example
<footer class="pie-principal">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<p><a href="" class="btn btn-default btn-sm">Horarios y Tarifas</a></p>
			</div>
			<div class="col-md-10">
				<ul class="pie-principal__menu list-inline">
					<li><a href="">Condiciones y términos para la compra</a></li>
					<li>Centro de atención al visitante: <a href="tel: +34902364383" class="enlace--telefono">tel. +34 902 364 383</a></li>
					<li><a href="mailto:reservasreinasofia@iacpos.com">reservasreinasofia@iacpos.com</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
```

*/


.pie-principal {
	@include margin-bottom-sm;
}

.pie-principal__menu {
	color: lighten($gray, 15%);
	@media (min-width: $screen-md-min) {
		padding-top: 5px;
		text-align: right;
	}
	> li {
		margin-bottom: 7px;
		@include font-size-small;
		@media (max-width: $screen-xs-max) {
			display: block;
		}
	}
}

@media print {
	.pie-principal{display:none;}
}
