/*doc
---
title: Tamaños de fuente
category: Mixins
---

Sirven para asignar a un elemento un tamaño de fuente en función de los tamaños de pantalla que define Bootstrap. Los tamaños están definidos en una serie de variables que se pueden editar en el archivo `_sass/_variables.scss`, bajo el apartado titulado "Tamaños de fuente en función del tamaño de pantaña".

```
@mixin font-size-large;
@mixin font-size-base;
@mixin font-size-small;

@mixin font-size-h1;
@mixin font-size-h2;
@mixin font-size-h3;
@mixin font-size-h4;
@mixin font-size-h5;
@mixin font-size-h6;

@mixin font-size-navegacion-principal__cabecera__slogan;

@mixin font-size-panel-heading__titulo;
@mixin font-size-panel-body__titulo;

@mixin font-size-panel-list-group-list-group-item;
```

*/

@mixin font-size-helper (
	$font-size-xs, 
	$font-size-sm, 
	$font-size-md, 
	$font-size-lg){
	font-size: $font-size-xs;
	@media (min-width: $screen-sm-min) {
		font-size: $font-size-sm;
	}
	@media (min-width: $screen-md-min) {
		font-size: $font-size-md;
	}
	@media (min-width: $screen-lg-min) {
		font-size: $font-size-lg;
	}
}

@mixin font-size-large {
	@include font-size-helper (
		$font-size-large-xs, 
		$font-size-large-sm, 
		$font-size-large-md, 
		$font-size-large-lg);	
}

@mixin font-size-base {
	@include font-size-helper (
		$font-size-base-xs, 
		$font-size-base-sm, 
		$font-size-base-md, 
		$font-size-base-lg);	
}

@mixin font-size-small {
	@include font-size-helper (
		$font-size-small-xs, 
		$font-size-small-sm, 
		$font-size-small-md, 
		$font-size-small-lg);	
}

@mixin font-size-h1 {
	@include font-size-helper (
		$font-size-h1-xs, 
		$font-size-h1-sm, 
		$font-size-h1-md, 
		$font-size-h1-lg);	
}

@mixin font-size-h2 {
	@include font-size-helper (
		$font-size-h2-xs, 
		$font-size-h2-sm, 
		$font-size-h2-md, 
		$font-size-h2-lg);	
}

@mixin font-size-h3 {
	@include font-size-helper (
		$font-size-h3-xs, 
		$font-size-h3-sm, 
		$font-size-h3-md, 
		$font-size-h3-lg);	
}

@mixin font-size-h4 {
	@include font-size-helper (
		$font-size-h4-xs, 
		$font-size-h4-sm, 
		$font-size-h4-md, 
		$font-size-h4-lg);	
}

@mixin font-size-h5 {
	@include font-size-helper (
		$font-size-h5-xs, 
		$font-size-h5-sm, 
		$font-size-h5-md, 
		$font-size-h5-lg);	
}

@mixin font-size-h6 {
	@include font-size-helper (
		$font-size-h6-xs, 
		$font-size-h6-sm, 
		$font-size-h6-md, 
		$font-size-h6-lg);	
}

@mixin font-size-navegacion-principal__cabecera__slogan {
	@include font-size-helper (
		$navegacion-principal-cabecera-slogan-font-size-xs, 
		$navegacion-principal-cabecera-slogan-font-size-sm, 
		$navegacion-principal-cabecera-slogan-font-size-md, 
		$navegacion-principal-cabecera-slogan-font-size-lg);	
}

@mixin font-size-panel-heading__titulo {
	@include font-size-helper (
		$panel-heading-titulo-font-size-xs, 
		$panel-heading-titulo-font-size-sm, 
		$panel-heading-titulo-font-size-md, 
		$panel-heading-titulo-font-size-lg);	
}

@mixin font-size-panel-body__titulo {
	@include font-size-helper (
		$panel-body-titulo-font-size-xs, 
		$panel-body-titulo-font-size-sm, 
		$panel-body-titulo-font-size-md, 
		$panel-body-titulo-font-size-lg);	
}

@mixin font-size-panel-list-group-list-group-item {
	@include font-size-helper (
		$panel-list-group-list-group-item-font-size-xs, 
		$panel-list-group-list-group-item-font-size-sm, 
		$panel-list-group-list-group-item-font-size-md, 
		$panel-list-group-list-group-item-font-size-lg);	
}