/*doc
---
title: Forms
category: Global
---

Utilizamos los estilos básicos ["Buttons" de Bootstrap](http://getbootstrap.com/css/#buttons), sobreescribiendo alguno de sus estilos y personalizando sus variables.

*/

.btn-primary {
	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active,
	.open > &.dropdown-toggle {
		background-color: #000;
	}
}

.btn__texto--grande {
	font-size: $font-size-large + 2;
	font-weight: 400;
}
