/*doc
---
title: Estilos para imprimir
category: Global
---

Además de sobreescribir algunos estilos para que se vea correctamente la página al imprimir, utilizamos el mixin `responsive-invisibility` para ocultar los elementos que no son necesarios para la impresión.

*/

@media print {
	@include responsive-invisibility('.navegacion-principal, .pie-principal, .botonera');
}

// Eliminamos los offsets de las columnas para imprimir

@mixin eliminar-offsets-imprimir($class) {
  @media print {
    .col-#{$class}-offset-1 {
      margin: 0;
    }
    @for $i from 1 through 12 {
      .col-#{$class}-offset-#{$i} {
        @extend .col-#{$class}-offset-1;
      }
    }
  }
}

@include eliminar-offsets-imprimir(xs);
@include eliminar-offsets-imprimir(sm);
@include eliminar-offsets-imprimir(md);
@include eliminar-offsets-imprimir(lg);

body {
	@media print {
		background-color: #fff;
	}
}

.col-md-offset-1,
.col-lg-offset-2 {
	@media print {
		margin: 0;
	}
}

.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger {
	@media print {
	    background-color: transparent;  
	}
}

.island {
	@media print {
		@include no-padding;
	}
}

.island--bordeado {
	@media print {
		border: none;
	}
}

.panel {
	@media print {
		box-shadow: none;
    	border: none;
	}
}

.rejilla--tabla {
	.col-sm-4 {
		@media print {
			width: 33%;
			float: left;   	
		}	
	}
	.col-sm-6 {
		@media print {
			width: 50%;
			float: left;   	
		}	
	}
	.col-sm-8 {
		@media print {
			width: 66%;
			float: left;   	
		}	
	}
}

.rejilla--tabla__fila {
	@media print {
    	padding: 5px 0!important;
	}
}