/*doc
---
title: Forms
category: Global
---

Utilizamos los estilos básicos ["Forms" de Bootstrap](http://getbootstrap.com/css/#forms), sobreescribiendo alguno de sus estilos y personalizando sus variables.

Hemos añadido un tamaño más a los elementos tipo input, se aplica con la clase `input-xlg`.

```html_example
<input id="input-fecha-1" class="form-control input-lg input-xlg" type="text" value="Lunes, 16 febrero 2015">
```

*/

.input-xlg {
	@media (min-width: $screen-sm-min) {
		font-size: $font-size-large + 4;	
	}
}