/*doc
---
title: Márgenes
category: Global
---


Si necesitamos darle a un elemento un margen inferior para separarlo de otros, disponemos de las siguientes clases: `margen-muy-pequeno`, `margen-pequeno`, `margen-mediano`, `margen-largo`, `margen-muy-largo`.

```html_example
<div class="well margen-muy-pequeno">Margen muy pequeño</div>
<div class="well margen-pequeno">Margen pequeño</div>
<div class="well margen-mediano">Margen mediano</div>
<div class="well margen-largo">Margen largo</div>
<div class="well margen-muy-largo">Margen muy largo</div>
```

NOTA: Ignora el estilo `.well` , sólo sirve para diferenciar los bloques entre sí.

NOTA: Es recomendable no abusar de estas clases ya que son demasiado granulares. Para dar margenes inferiores a componentes u otros elementos reutilizables es recomendable utilizar los mixins del tipo ["Espacios en blanco"](/docs/mixins.html#Espacios_en_blanco). Estas clases son útiles para dar formato a contenido introducido mediante WYSWYG o en casos en los que no tiene sentido utilizar componentes.

*/

.margen-muy-pequeno {
	@include margin-bottom-xs;
}

.margen-pequeno {
	@include margin-bottom-sm;
}

.margen-mediano {
	@include margin-bottom-md;
}

.margen-largo {
	@include margin-bottom-lg;
}

.margen-muy-largo {
	@include margin-bottom-xl;
}