/*doc
---
title: Rejilla
category: Global
---

Disponemos de varios tipos de rejilla adicionales para colocar varios elementos.

##Rejilla adaptable##

Este tipo de rejilla se comporta cómo una tabla, distribuyendo la anchura de sus columnas en función del tamaño de los elementos que contienen.

```html_example
<div class="rejilla--adaptable">
	<div class="rejilla--adaptable__contenedor">
		<div class="rejilla--adaptable__fila">
			<div class="rejilla--adaptable__columna rejilla--adaptable__columna--vertical-centrada">
				<label class="sr-only" for="select-numero-entradas-1">Número de entradas</label>
				<select id="numero-entradas-1" class="form-control">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				</select>
			</div>
			<div class="rejilla--adaptable__columna rejilla--adaptable__columna--vertical-centrada">
				<p class="fuente-grande">8€</p>
			</div>
			<div class="rejilla--adaptable__columna rejilla--adaptable__columna--vertical-centrada">
				<p class="fuente-pequena">+0,75€ gastos gestión por entrada</p>	
			</div>
		</div>
	</div>
</div>
```

##Rejilla con aspecto de tabla##

Se trata de una rejilla con aspecto de tabla, que en pantallas pequeñas apila sus columnas en vertical.

```html_example
<div class="rejilla--tabla">
	<div class="rejilla--tabla__fila row hidden-xs">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-6">Entrada</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-2">Precio ud.</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-2">Cantidad</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--centrada col-sm-2">Precio</div>
	</div>
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-6">Entrada individual <br><span class="fuente-normal">Exposiciones temporales + <em>Kunstmuseum Basel</em></span></div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-2">
			<span class="fuente-negrita visible-xs-inline">Precio ud.</span> 5€
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-2">
			<span class="fuente-negrita visible-xs-inline">Cantidad</span> 8
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-2">
			<span class="fuente-negrita visible-xs-inline">Precio</span> 40.00€
		</div>
	</div>
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-6">Gastos de gestión</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-2">
			<span class="fuente-negrita visible-xs-inline">Precio ud.</span> 0.75€
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-2">
			<span class="fuente-negrita visible-xs-inline">Cantidad.</span> 8
		</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-2">
			<span class="fuente-negrita visible-xs-inline">Precio</span> 6.00€
		</div>
	</div>
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-xs-6 col-sm-10">Total</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-xs-6 col-sm-2 text-right"><strong>46.00€</strong></div>
	</div>
</div>
```

##Rejilla con aspecto de tabla variante sin bordes##

Igual que la anterior pero sin bordes y con menos celdas

```html_example
<p class="lead"><strong>Tu reserva:</strong> Lunes, 16 febrero 2015 - 10:30h</p>
<div class="rejilla--tabla rejilla--tabla--sinbordes">
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-8">Entrada individual <br><span class="fuente-normal">Exposiciones temporales + <em>Kunstmuseum Basel</em></span></div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-4"><span class="fuente-normal">8 x 8.00 €</span></div>		
	</div>
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-8">Descuento Telefónica 50% <br /> <span class="fuente-normal">máx. 5 entradas</em></span></div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-4">
			<span class="fuente-normal">5 x -2.50€</span>
		</div>		
	</div>
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-sm-8">Gastos de gestión</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-sm-4">
			<span class="fuente-normal">8 x 0.75€</span>
		</div>		
	</div>
	<div class="rejilla--tabla__fila row">
		<div class="rejilla--tabla__columna rejilla--tabla__columna--cabecera rejilla--tabla__columna--izquierda col-xs-6 col-sm-8">Total</div>
		<div class="rejilla--tabla__columna rejilla--tabla__columna--centrada col-xs-6 col-sm-4 text-right"><strong>33.50€</strong></div>
	</div>
</div>
```


*/


// Rejilla adaptable

.rejilla--adaptable {
	margin-left: -10px;
	margin-right: -10px;
}

.rejilla--adaptable__contenedor {
	width: 100%;
	display: table;
	border-spacing: 10px 0;
}

.rejilla--adaptable__fila {
	display: table-row;
}

.rejilla--adaptable__columna {
	height: 100%;
	display: table-cell;
	vertical-align: top;
	p {
		&:last-child {
			margin-bottom: 0;	
		}
	}
	select {
		min-width: 50px; // Si no damos este ancho mínimo no se ven los números
	}
}

.rejilla--adaptable__columna--vertical-centrada {
	vertical-align: middle;
}

// Rejilla con aspecto de tabla

.rejilla--tabla {
	@include margin-bottom-sm;
	@media (max-width: $screen-xs-max) {
		border-top: 1px solid $table-border-color;
	}
}

.rejilla--tabla__fila {
	@include no-margin-left;
	@include no-margin-right;
	border-bottom: 1px solid $table-border-color;
	@media (max-width: $screen-xs-max) {
		@include padding-vertical-xs;
	}
	&:first-child {
		@media (min-width: $screen-sm-min) {
			border-bottom-width: 2px;
		}
	}
	&:last-child {
		border-bottom: none;
	}
}

.rejilla--tabla__columna {
	@media (min-width: $screen-sm-min) {
		@include padding-xs;	
	}
}

.rejilla--tabla__columna--cabecera {
	font-weight: bold;
}

.rejilla--tabla__columna--izquierda {
	@media (min-width: $screen-sm-min) {
		text-align: left;
	}	
}

.rejilla--tabla__columna--centrada {
	@media (min-width: $screen-sm-min) {
		text-align: center;
	}
}

.rejilla--tabla__columna--derecha {
	@media (min-width: $screen-sm-min) {
		text-align: right;
	}	
}

// Rejilla con aspecto de tabla sin bordes
.rejilla--tabla--sin-bordes {
	border: none;
	.rejilla--tabla__fila {
		border-bottom: none;
	}
	.rejilla--tabla__columna{
		padding-left: 0;
		padding-right: 0;
		@media (min-width: $screen-sm-min) {
			padding: 5px 0;
		}
	}
}

/*Regilla tabla de datos*/
.rejilla--tabla__dato {
	font-weight:bold;
}

@media print {

    .rejilla--tabla .rejilla--tabla__columna,   .rejilla--tabla .col-sm-2,   .rejilla--tabla .col-sm-4{
    	width: 50%!important; 
    	float:left!important;
    }

     .rejilla--tabla  .rejilla--tabla__fila {
     	padding: 3px 0!important;
     }
}
