/*doc
---
title: Tipografía
category: Estilos base
---


Para asignar a un elemento un tamaño de fuente que cambie en función de los tamaños de pantalla definidos por Bootstrap utilizaremos los mixins del tipo ["Tamaños de fuente"](/docs/mixins.html#Tamaños_de_fuente).

Para modificar sus valores disponemos de una serie de variables en el fichero `variables _sass/_variables.scss` bajo el título "Tamaños de fuente en función del tamaño de pantaña".

### Tamaños de fuente

Al igual que Bootstrap, disponemos de tres tamaños de fuente básicos que utilizaremos en cualquier elemento que construyamos.

Además, para facilitar la tarea de formatear texto introducido mediante un WYSWYG hemos incluido las clases: `.fuente-grande` , `.fuente-base` , `.fuente-pequena` .

```html_example

<p class="fuente-grande">Tamaño de fuente grande</p>
<p class="fuente-base">Tamaño de fuente base</p>
<p class="fuente-pequena">Tamaño de fuente pequeña</p>

```

### Títulos de sección

Los títulos de sección se muestran por defecto con el siguiente aspecto.

```html_example

<h1>Título 1</h1>
<h2>Título 2</h2>
<h3>Título 3</h3>
<h4>Título 4</h4>
<h5>Título 5</h5>
<h6>Título 6</h6>

```

Además, disponemos de las siguientes clases para cambiar la apariencia de un título de sección o de cualquier otro tipo de elemento.

```html_example

<h2 class="h1">Título 1</h2>
<h1 class="h2">Título 2</h1>
<h4 class="h3">Título 3</h4>
<h1 class="h4">Título 4</h1>
<h3 class="h5">Título 5</h3>
<h5 class="h6">Título 6</h5>

```

### Cuerpo de texto

Este es un ejemplo de cuerpo de texto basado en la ficha de obra del Guernica de Picasso.

```html_example

<p>Reflejo fiel de una época y de unas luctuosas y dramáticas circunstancias, el lienzo Guernica nació para formar parte del Pabellón Español en la Exposición Internacional de París, de 1937. El motivo que impulsó a Pablo Picasso a realizar la escena representada en esta gran pintura fue la noticia de los bombardeos efectuados por la aviación alemana sobre la villa vasca que da nombre a la obra, conocidos por el artista a través de las dramáticas fotografías publicadas, entre otros diarios, por el periódico francés L'Humanité. A pesar de ello, tanto los bocetos como el cuadro no contienen ninguna alusión a sucesos concretos, sino que, por el contrario, constituyen un alegato genérico contra la barbarie y el terror de la guerra. Concebido como un gigantesco cartel, el gran lienzo es el testimonio del horror que supuso la Guerra Civil española, así como la premonición de lo que iba a suceder en la Segunda Guerra Mundial. La sobriedad cromática, la intensidad de todos y cada uno de los motivos, y la articulación de esos mismos motivos, determinan el extremado carácter trágico de la escena, que se iba a convertir en el emblema de los desgarradores conflictos de la sociedad de nuestros días.</p>

<p>Guernica ha suscitado numerosas y polémicas interpretaciones, circunstancia a la que contribuye indudablemente la voluntaria eliminación del lienzo de cualquier tonalidad ajena a la grisalla. Al analizar su iconografía, uno de los estudiosos de la obra, Anthony Blunt, divide a los actores de esta composición piramidal en dos grupos, el primero de los cuales está integrado por tres animales: el toro, el caballo herido y el pájaro alado que se aprecia tenuemente al fondo, a la izquierda. Los seres humanos componen un segundo grupo, en el que figuran un soldado muerto y varias mujeres: la situada en la zona superior derecha, que se asoma por una ventana y sostiene hacia fuera una lámpara; la madre que, a la izquierda del lienzo, grita llevando al hijo muerto; la que entra precipitadamente por la derecha; y finalmente, la que clama al cielo, con los brazos alzados, ante una casa en llamas.
En este mismo contexto, tampoco hay que olvidar que dos años antes, en 1935, Picasso había grabado al aguafuerte la Minotauromaquia, obra sintética que condensa en una sola imagen todos los símbolos del ciclo dedicado a este animal mitológico y que es, a la vez, el antecedente más directo de Guernica.</p>

<p>Los acontecimientos de la vida privada de Picasso, junto a los sucesos políticos que atribularon al continente europeo en el período de entreguerras, se fusionan en los motivos creados por el pintor en estos momentos, para dar lugar tanto al propio Guernica como a sus bocetos y post scriptum, considerados como unas de las obras de arte más representativas del siglo XX.</p>

```

*/


// Tamaños de fuente

.fuente-grande {
	@include font-size-large;
}

.fuente-base {
	@include font-size-base;
}

.fuente-pequena {
	@include font-size-small;
}


// Títulos de sección

h1,
.h1 {
	@include font-size-h1;
	@include no-margin-top;
	@include margin-bottom-sm;
	font-family: $font-museo-bold;
}

h2,
.h2 {
	@include font-size-h2;
	@include no-margin-top;
	font-family: $font-museo-bold;
}

h3,
.h3 {
	@include font-size-h3;
	@include no-margin-top;
	font-family: $font-museo-thin;
}

h4,
.h4 {
	@include font-size-h4;
	@include no-margin-top;
	font-family: $font-museo-bold;
}

h5,
.h5 {
	@include font-size-h5;
	@include no-margin-top;
	font-family: $font-museo-regular;
}

h6,
.h6 { 
	@include font-size-h6;
	@include no-margin-top;
	font-family: $font-museo-thin;
}