/*
  Incluye:
  	- Colores propios
    - Variables sobreescritas de bootstrap
    - Variables propias 
*/


/*
	Variables sobreescritas de bootstrap
*/

$gray-base:              	#000;
$gray-dark:              	lighten($gray-base, 20%);   // #333
$gray-darker:            	lighten($gray-base, 13.5%); // #222
$gray-light:             	lighten(#777, 30%);
$gray-lighter:           	#f6f6f6;

$brand-primary: 			#71D2FC;

$body-bg:               	$gray-lighter;

$text-color:              	$gray-dark;

$link-color:            	darken($brand-primary, 10%);
$link-hover-color:      	darken($brand-primary, 25%);

$font-size-base:          	14px;
$font-size-large:         	20px;
$font-size-small:         	12px;

$font-size-h1:            	44px;
$font-size-h2:            	24px;
$font-size-h3:            	22px;
$font-size-h4:            	20px;
$font-size-h5:            	16px;
$font-size-h6:            	16px;

$headings-font-weight:    	normal;
$headings-color:          	$gray-dark;

$bootstrap-sass-asset-helper:		(twbs-font-path("") != unquote('twbs-font-path("")')) !default;
$icon-font-path: 					if($bootstrap-sass-asset-helper, "bootstrap/", "../vendor/bootstrap-sass-official/assets/fonts/bootstrap/") !default;

$btn-font-weight:           bold;

$btn-default-color:         $text-color;
$btn-default-bg:            lighten($gray-lighter, 2%);
$btn-default-border:        darken($gray-lighter, 10%);

$btn-primary-color:         #fff;
$btn-primary-bg:            $gray-dark;
$btn-primary-border:        $btn-primary-bg;

$cursor-disabled:           default;

$list-group-link-color: 	$gray-dark;
$list-group-border-radius: 	0;
$list-group-disabled-bg: 	lighten($gray-lighter, 2%);

$panel-bg: 					#fff;
$panel-heading-padding: 	15px;
$panel-default-heading-bg: 	#fff;
$panel-body-padding:        30px 15px;
$panel-border-radius: 		0;

$table-bg:                  #fff;
$table-cell-padding:        12px 15px 14px;




$state-success-bg:          #b9e091;
$state-success-text: 		darken($state-success-bg, 40%);
$state-success-border:      $state-success-bg;

$state-info-bg:             lighten($brand-primary, 20%);
$state-info-text:           darken($state-info-bg, 65%);
$state-info-border:         $state-info-bg;

$state-warning-bg:          #ffdd86;
$state-warning-text:        darken($state-warning-bg, 50%);
$state-warning-border:      $state-warning-bg;

$state-danger-bg:           #f3838f;
$state-danger-text:         darken($state-danger-bg, 50%);
$state-danger-border:       $state-danger-bg;


/*
	Variables propias
*/

// Tamaños de fuente en función del tamaño de pantaña

$font-size-base-xs:       	$font-size-base;
$font-size-base-sm:       	$font-size-base;
$font-size-base-md:       	$font-size-base;
$font-size-base-lg:       	$font-size-base;

$font-size-large-xs:       	$font-size-large;
$font-size-large-sm:       	$font-size-large;
$font-size-large-md:       	$font-size-large;
$font-size-large-lg:       	$font-size-large;

$font-size-small-xs:       	$font-size-small;
$font-size-small-sm:       	$font-size-small;
$font-size-small-md:       	$font-size-small;
$font-size-small-lg:       	$font-size-small;

$font-size-h1-xs:         	$font-size-h1;
$font-size-h1-sm:         	$font-size-h1;
$font-size-h1-md:         	$font-size-h1;
$font-size-h1-lg:         	$font-size-h1;

$font-size-h2-xs:         	$font-size-h2;
$font-size-h2-sm:         	$font-size-h2;
$font-size-h2-md:         	$font-size-h2;
$font-size-h2-lg:         	$font-size-h2;

$font-size-h3-xs:         	$font-size-h3;
$font-size-h3-sm:         	$font-size-h3;
$font-size-h3-md:         	$font-size-h3;
$font-size-h3-lg:         	$font-size-h3;

$font-size-h4-xs:         	$font-size-h4;
$font-size-h4-sm:         	$font-size-h4;
$font-size-h4-md:         	$font-size-h4;
$font-size-h4-lg:         	$font-size-h4;

$font-size-h5-xs:         	$font-size-h5;
$font-size-h5-sm:         	$font-size-h5;
$font-size-h5-md:         	$font-size-h5;
$font-size-h5-lg:         	$font-size-h5;

$font-size-h6-xs:         	$font-size-h6;
$font-size-h6-sm:         	$font-size-h6;
$font-size-h6-md:         	$font-size-h6;
$font-size-h6-lg:         	$font-size-h6;

// Familia tipográfica de Museo

$font-museo-bold: 		  	'PFDinTextPro-Bold', Helvetica, Arial, sans-serif;
$font-museo-regular: 	  	'PFDinTextPro-Regular', Helvetica, Arial, sans-serif;
$font-museo-thin: 		  	'PFDinTextPro-Thin', Helvetica, Arial, sans-serif;

// Espacio en blanco

$space-unit-xs: 			15px;
$space-unit-sm:  			($space-unit-xs * 2); // 30px;
$space-unit-md:  			($space-unit-xs * 3); // 45px;
$space-unit-lg:  			($space-unit-xs * 4); // 60px;
$space-unit-xl:  			($space-unit-xs * 5); // 75px;

// Arrows

$arrow-size:     		12px;
$arrow-z-index: 		2;
$arrow-color: 			#fff;

// Navegación principal

$navegacion-principal-cabecera-slogan-font-size-xs: 	22px; 
$navegacion-principal-cabecera-slogan-font-size-sm: 	28px;
$navegacion-principal-cabecera-slogan-font-size-md: 	$navegacion-principal-cabecera-slogan-font-size-sm;
$navegacion-principal-cabecera-slogan-font-size-lg: 	36px;

// Componente Panel

$panel-heading-titulo-font-size-xs: 		30px;
$panel-heading-titulo-font-size-sm: 		$panel-heading-titulo-font-size-xs;
$panel-heading-titulo-font-size-md: 		$panel-heading-titulo-font-size-xs;
$panel-heading-titulo-font-size-lg: 		36px;

$panel-body-titulo-font-size-xs: 			22px;
$panel-body-titulo-font-size-sm: 			$panel-body-titulo-font-size-xs;
$panel-body-titulo-font-size-md: 			$panel-body-titulo-font-size-xs;
$panel-body-titulo-font-size-lg: 			26px;

// Componente List group

$panel-list-group-list-group-item-font-size-xs: 		25px;
$panel-list-group-list-group-item-font-size-sm: 		$panel-list-group-list-group-item-font-size-xs;
$panel-list-group-list-group-item-font-size-md: 		$panel-list-group-list-group-item-font-size-xs;
$panel-list-group-list-group-item-font-size-lg: 		$panel-list-group-list-group-item-font-size-xs;

// Componente Calendario

$calendario-anchura-maxima: 				330px;
$calendario-fondo: 							$gray-lighter;
$calendario-desactivado-color: 				darken($gray-light, 10%);