/*
  Incluye:
    - Variables sobreescritas de bootstrap
    - Variables propias 
*/


/*
	Variables sobreescritas de bootstrap
*/

$text-color:              	#666;

$font-family-sans-serif:  	'PFDinTextPro-Thin', Helvetica, Arial, sans-serif;

$font-size-base:          	16px;
$font-size-large:         	22px;
$font-size-small:         	13px;

$font-size-h1:            	44px;
$font-size-h2:            	24px;
$font-size-h3:            	22px;
$font-size-h4:            	20px;
$font-size-h5:            	16px;
$font-size-h6:            	16px;

$line-height-base:        	1.6;

$headings-font-weight:    	normal;
$headings-color:          	#333;

$navbar-height:           	85px;
$navbar-border-radius:    	0;

$navbar-default-bg:       	#fff;
$navbar-default-border:   	transparent;


/*
	Variables propias
*/

// Tamaños de fuente en función del tamaño de pantaña

$font-size-base-xs:       	$font-size-base;
$font-size-large-xs:      	$font-size-large;
$font-size-small-xs:      	$font-size-small;

$font-size-base-sm:       	$font-size-base;
$font-size-large-sm:      	$font-size-large;
$font-size-small-sm:      	$font-size-small;

$font-size-base-md:       	$font-size-base;
$font-size-large-md:      	$font-size-large;
$font-size-small-md:      	$font-size-small;

$font-size-base-lg:       	$font-size-base;
$font-size-large-lg:      	$font-size-large;
$font-size-small-lg:      	$font-size-small;

$font-size-h1-xs:         	$font-size-h1;
$font-size-h2-xs:         	$font-size-h2;
$font-size-h3-xs:         	$font-size-h3;
$font-size-h4-xs:         	$font-size-h4;
$font-size-h5-xs:         	$font-size-h5;
$font-size-h6-xs:         	$font-size-h6;

$font-size-h1-sm:         	$font-size-h1;
$font-size-h2-sm:         	$font-size-h2;
$font-size-h3-sm:         	$font-size-h3;
$font-size-h4-sm:         	$font-size-h4;
$font-size-h5-sm:         	$font-size-h5;
$font-size-h6-sm:         	$font-size-h6;

$font-size-h1-md:         	$font-size-h1;
$font-size-h2-md:         	$font-size-h2;
$font-size-h3-md:         	$font-size-h3;
$font-size-h4-md:         	$font-size-h4;
$font-size-h5-md:         	$font-size-h5;
$font-size-h6-md:         	$font-size-h6;

$font-size-h1-lg:         	$font-size-h1;
$font-size-h2-lg:         	$font-size-h2;
$font-size-h3-lg:         	$font-size-h3;
$font-size-h4-lg:         	$font-size-h4;
$font-size-h5-lg:         	$font-size-h5;
$font-size-h6-lg:         	$font-size-h6;

// Familia tipográfica de Museo

$font-museo-bold: 		  	'PFDinTextPro-Bold', Helvetica, Arial, sans-serif;
$font-museo-regular: 	  	'PFDinTextPro-Regular', Helvetica, Arial, sans-serif;
$font-museo-thin: 		  	$font-family-sans-serif;

// Espacio en blanco

$space-unit-xs: 			15px;
$space-unit-sm:  			($space-unit-xs * 2); // 30px;
$space-unit-md:  			($space-unit-xs * 3); // 45px;
$space-unit-lg:  			($space-unit-xs * 4); // 60px;
$space-unit-xl:  			($space-unit-xs * 5); // 75px;