---
layout: default--cabecera-basica
title: Acceso a mis reservas
---

<div class="row">
	<div class="col-sm-4">
		<section class="seccion">
			<div class="island island--xs">
				<h2 class="panel-body__titulo">Consultar en pantalla</h2>
				<p class="h5 margen-muy-pequeno">Introduce tu email + tu localizador o número de pedido</p> 
				
				{% for alerta in site.data.alertas.checkout offset:6 limit:1 %}

					{% include alert.html %}

				{% endfor %}

				<p class="alert__texto-ayuda">Vuelve a intentarlo o contáctanos: <a href="tel:+34902364383" class="text-nowrap">+34 902 364 383</a>, <a href="mailto:entradas@entradas.museoreinasofia.es">entradas@entradas.museoreinasofia.es</a></p>

				{% include formulario--acceso-consultar-reservas.html %}

			</div>
		</section>
	</div>
	<div class="col-sm-4">
		<section class="seccion">
			<div class="island island--xs">
				<h2 class="panel-body__titulo">Recibe tu reserva de tu mail</h2> 
				<p class="h5 margen-muy-pequeno">Introduce el email con el que hiciste la reserva</p>

				{% for alerta in site.data.alertas.checkout offset:5 limit:1 %}

					{% include alert.html %}

				{% endfor %}

				<p class="alert__texto-ayuda">Vuelve a intentarlo o contáctanos: <a href="tel:+34902364383" class="text-nowrap">+34 902 364 383</a>, <a href="mailto:entradas@entradas.museoreinasofia.es">entradas@entradas.museoreinasofia.es</a></p>

				{% include formulario--recibir-reserva.html %}
			
			</div>
		</section>
	</div>
	<div class="col-sm-4">
		<section class="seccion">
			<div class="island island--xs">
				<h2 class="panel-body__titulo">Accede a tu cuenta</h2> 
				<p class="h5 margen-muy-pequeno">¿Eres usuario registrado? Consulta tus reservas introduciendo usuario y cotraseña</p> 

				{% include formulario--login--sin-label.html %}

			</div>
		</section>
	</div>
</div>