---
layout: checkout
title: Tus datos
---
<div class="list-group">
	<a href="#" class="list-group-item">Fecha</a>
	<a href="#" class="list-group-item">Entradas</a>
	<a href="#" class="list-group-item">Revisa y compra tu cupón</a>
</div>

{% include checkout-titulo-pagina.html %}

<div class="panel-body">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			
			{% include checkout-resumen-compra-final.html %}	

			<h2 class="panel-body__titulo">Datos de contacto</h2> 

			{% include checkout-formulario-contacto.html %}	

		</div>
	</div>		


	<div class="botonera--centrada">
		<div class="botonera__botones">
			<a href="" class="btn btn-primary btn-lg botonera__boton">Continuar →</a>    
			<a href="" class="btn btn-primary btn-lg btn-link botonera__boton">← Revisa y compra tu cupón</a>    
		</div>
	</div>	
</div>