---
layout: checkout
title: Revisar compra y cupón
---

<div class="list-group">
	<a href="#" class="list-group-item">Fecha</a>
	<a href="#" class="list-group-item">Entradas</a>
</div>

{% include checkout-titulo-pagina.html %}

<div class="panel-body">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			
			{% include checkout-resumen-compra.html %}			
			
			<div class="island island--xs island--margen-pequeno bg-info">
				<div class="row">
					<div class="col-sm-6">
						<p><strong>¿Tienes un cupón de descuento?</strong> <br>Introduce tu código y aplica tu descuento</p>
					</div>
					<div class="col-sm-6">
						<div class="input-group">
							<input id="input-cupon-1" type="text" class="form-control">
							<label class="sr-only" for="input-cupon-1">Código del cupón</label>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">Aplicar cupón</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="botonera">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="row">
					<div class="col-sm-4 col-sm-push-6">
						<div class="botonera__accion">
							<a href="" class="btn btn-primary btn-lg btn-block botonera__accion__boton">Continuar →</a>
						</div>
					</div>
					<div class="col-sm-4 col-sm-pull-2">
						<div class="botonera__accion">
							<a href="" class="btn btn-primary btn-lg btn-link btn-block botonera__accion__boton">← Entradas</a>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
		
</div>
<div class="list-group">
	<a href="#" class="list-group-item disabled">Tus datos</a>
</div>