---
layout: default-1-columna
title: Respuesta Ok
---

	
<div class="island island--sm island--margen-pequeno bg-success">
	<h1 class="margen-muy-pequeno">Reserva confirmada</h1>
  	<p class="lead hidden-print">Puedes <a href="" class="enlace--subrayado">imprimirla</a> o dar este localizador en taquilla: <strong>R083063</strong></p>
</div>

<p class="lead visible-print-block">Localizador: <strong>R083063</strong></p>

{% include checkout-resumen-reserva.html %}

{% include checkout-resumen-reserva-imprimir.html %}

<h2>Datos del visitante</h2>	

{% include checkout-datos-visitante.html %}	


<div class="botonera">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-2">
			<a href="" class="btn btn-primary btn-lg btn-block botonera__boton">Imprimir reserva</a>
		</div>
		<div class="col-sm-4">
			<a href="" class="btn btn-primary btn-lg btn-block botonera__boton">Imprimir factura</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-2">
			<a href="" class="btn btn-default btn-block botonera__boton">Ver todas las entradas</a>
		</div>
		<div class="col-sm-4">
			<a href="" class="btn btn-default btn-block botonera__boton">Ir a la web del museo</a>
		</div>
	</div>
</div>