---
layout: default
title: Acceso a mis reservas
---

<div class="row">
		<div class="col-md-4">
			<h2 class="panel-body__titulo">Consultar en pantalla</h2>
			<p>Introduce tu email + localizador o número de pedido</p> 
				
						{% include checkout-formulario-consultar.html %}
				
		</div>
		<div class="col-md-4">
			<h2 class="panel-body__titulo">Recibe tu reserva de tu mail</h2> 
			<p>Introduce el email con el que hiciste la reserva</p> 
			
				{% include checkout-formulario-mail.html %}	
			
		</div>
		<div class="col-md-4">
			<h2 class="panel-body__titulo">Accede a tu cuenta</h2> 
			<p>¿Eres usuario registrado? Consulta tus reservas introduciendo usuario y cotraseña:</p> 
			
				{% include checkout-formulario-inicio.html %}	
			
		</div>
	</div>		


	
</div>