---
layout: checkout
title: Tus datos
---
<div class="list-group">
	<a href="#" class="list-group-item">Fecha</a>
	<a href="#" class="list-group-item">Entradas</a>
	<a href="#" class="list-group-item">Revisa y compra tu cupón</a>
</div>

{% include checkout-titulo-pagina.html %}

<div class="panel-body">
	<div class="row">
		<div class="col-md-12 col-lg-10 col-lg-offset-1">

			{% include checkout-resumen-compra-finalgrupos.html %}	

			<h2 class="panel-body__titulo">Datos de la reserva</h2>
			<p>La facturación se realizará con los datos indicados a continuación</p> 

			{% include checkout-formulario-edicion.html %}	

		</div>
	</div>		


	<div class="botonera--centrada">
		<div class="botonera__botones">
			<a href="" class="btn btn-primary btn-lg botonera__boton">Reservar →</a>    
			<a href="" class="btn btn-primary btn-lg botonera__boton">Pagar entradas →</a>    
			<a href="" class="btn btn-primary btn-lg btn-link botonera__boton">← Revisa y compra tu cupón</a> 
		</div>
	</div>	
</div>