---
layout: default
title: Reserva guardada
---

<h1>Hemos guardado tu reserva</h1>	
<div class="island island--xs island--margen-pequeno bg-success">
  <p>Recuerda que puedes realizar el pago hasta 48 horas antes de la fecha de la visita</p>
</div>


<div role="tabpanel" class="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mis reservas</a></li>
    <li role="presentation"  class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mis compras</a></li>
  
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="home">

    		{% include checkout-form-busqueda.html %}
			
			{% include checkout-mis-reservas.html %}
	
    </div>
    <div role="tabpanel" class="tab-pane active" id="profile">

    	{% include checkout-form-compras.html %}

    	{% include checkout-mis-compras-seleccion.html %}

    </div>
  </div>

</div>

