---
layout: checkout
title: Tus datos
---
<div class="list-group">
	<a href="#" class="list-group-item">Fecha</a>
	<a href="#" class="list-group-item">Entradas</a>
	<a href="#" class="list-group-item">Revisa y compra tu cupón</a>
</div>

{% include checkout-titulo-pagina.html %}

<div class="panel-body">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

			{% include checkout-resumen-compra-finalgrupos.html %}	
			
			<div class="alert alert-warning">
				<p>Para comprar o reservar entradas de grupo, <strong>debes estar registrado</strong>:</p>
			</div>
			<div class="row">
				<div class="col-sm-6"> 
					<section class="seccion">
						<header class="seccion__cabecera">
							<h2 class="panel-body__titulo">Regístrate</h2>
							<p class="h5">Si es la primera vez que compras entradas</p>
						</header>
						
						{% include checkout-formulario-registro.html %}

					</section>
				</div>
				<div class="col-sm-6">
					<section class="seccion">
						<header class="seccion__cabecera">
							<h2 class="panel-body__titulo">Inicia Sesión</h2> 
							<p class="h5">Si ya estas registrado</p>
						</header>
						
						{% include checkout-formulario-inicio.html %}	

					</section>
				</div>
			</div>
		</div>
	</div>		
	<div class="botonera">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="row">
					<div class="col-sm-4 col-sm-push-6">
						<a href="" class="btn btn-primary btn-lg btn-block botonera__boton disabled">Completar compra →</a>
					</div>
					<div class="col-sm-4 col-sm-pull-2">
						<a href="" class="btn btn-primary btn-lg btn-link btn-block botonera__boton">← Revisa y compra tu cupón</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>