---
layout: checkout
title: Tus datos
---
<div class="list-group">
	<a href="#" class="list-group-item">Fecha</a>
	<a href="#" class="list-group-item">Entradas</a>
	<a href="#" class="list-group-item">Revisa y compra tu cupón</a>
</div>

{% include checkout-titulo-pagina.html %}

<div class="panel-body">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

			{% include checkout-resumen-compra-finalgrupos.html %}	

			{% include checkout-formulario-edicion.html %}	

		</div>
	</div>
	<div class="botonera">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4 col-lg-7 col-lg-push-4">
				<div class="row">
					<div class="col-sm-6">
						<div class="botonera__accion">
							<a href="" class="btn btn-primary btn-lg btn-block botonera__accion__boton">Pagar entradas →</a>
							<p class="botonera__accion__texto-ayuda">Serás dirigido a la pasarela de pago</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="botonera__accion">
							<a href="" class="btn btn-primary btn-lg btn-block botonera__accion__boton">Reservar →</a>
							<p class="botonera__accion__texto-ayuda">Podrás realizar el pago hasta 2 días antes de la fecha de la reserva</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-sm-pull-8 col-lg-3 col-lg-pull-6">
				<div class="botonera__accion">
					<a href="" class="btn btn-primary btn-lg btn-link btn-block botonera__accion__boton">← Revisar compra y cupón</a>
				</div> 
			</div>
		</div>
	</div>
</div>