---
layout: default
title: Solicitar bono
---

<div class="row">
		<div class="col-sm-6">
		<h2 class="panel-body__titulo">Solicitar Registro Bono Voucher</h2>
		<p>El museo comprobará tus datos y se pondrá en contacto contigo para indicarte los pasos a seguir y facilitarte tus datos de usuario y contraseña, que deberás conservarpara futuras reservas.</p> 


			
					{% include checkout-formulario-registro-bono.html %}	

			
		</div>
		<div class="col-sm-6">
		<h2 class="panel-body__titulo">Inicia Sesión</h2> 
		<p>Si ya estas registrado para Bono Voucher</p> 
		
			{% include checkout-formulario-inicio.html %}	
			
		</div>
	</div>		


	
</div>