---
layout: default--cabecera-compras-reservas
title: Reserva guardada
---


<div class="island island--sm island--margen-pequeno bg-success">
	<h1 class="margen-muy-pequeno">Hemos guardado tu reserva</h1>
	<p class="lead hidden-print">Recuerda que puedes realizar el pago hasta 48 horas antes de la fecha de la visita</p>
</div>

<ul class="nav nav-tabs margen-pequeno">
	<li class="active"><a href="#" class="nav-tabs__enlace--lg">Mis reservas</a></li>
	<li><a href="#" class="nav-tabs__enlace--lg">Mis compras</a></li>
</ul>

<section>	
	<p class="visible-xs-block visible-sm-block text-right">
		<a class="btn btn-default btn-sm" data-toggle="collapse" href="#buscador-compras-reservas-1" aria-expanded="false" aria-controls="buscador-compras-reservas-1"><span class="glyphicon glyphicon-search"></span> Buscar reservas</a>
	</p>
	<div class="collapse collapse--visible-md-block collapse--visible-lg-block" id="buscador-compras-reservas-1">
		<div class="island island--xs island--margen-pequeno bg-info">
			<h2 class="h4 hidden-xs">Buscar compras</h2>
			{% include buscador--compras-reservas.html %}
		</div>
	</div>
</section>
			
{% include tabla--mis-reservas.html %}