---
layout: default--cabecera-checkout
title: Solicitar bono
---


<div class="row">
	<div class="col-sm-6 col-lg-5 col-lg-offset-1">
		<p class="visible-xs-block visible-sm-block">
			<a class="btn btn-default btn-lg btn-block text-wrap" data-toggle="collapse" href="#solicita-registro-bono-voucher-1" aria-expanded="false" aria-controls="solicita-registro-bono-voucher-1">Solicitar registro Bono Voucher</a>
		</p>
		<div class="collapse collapse--visible-sm-block collapse--visible-md-block collapse--visible-lg-block collapse--caja" id="solicita-registro-bono-voucher-1">
			<section class="seccion">
				<div class="island island--xs">
					<h2 class="h2 hidden-xs">Solicitar registro Bono Voucher</h2>
					<p class="h5 margen-pequeno">El museo comprobará tus datos y se pondrá en contacto contigo para indicarte los pasos a seguir y facilitarte tus datos de usuario y contraseña, que deberás conservar para futuras reservas.</p> 

					{% include formulario--solicitar-registro-bono-voucher.html %}

				</div>
			</section>
		</div>
	</div>
	<div class="col-sm-6 col-lg-5">
		<p class="visible-xs-block visible-sm-block">
			<a class="btn btn-default btn-lg btn-block text-wrap" data-toggle="collapse" href="#inicia-sesion-1" aria-expanded="false" aria-controls="inicia-sesion-1">Inicia sesión</a>
		</p>
		<div class="collapse collapse--visible-sm-block collapse--visible-md-block collapse--visible-lg-block collapse--caja" id="inicia-sesion-1">
			<section class="seccion">
				<div class="island island--xs">

					<h2 class="h2 hidden-xs">Inicia sesión</h2> 
					<p class="h5 margen-pequeno">Si ya estás registrado para Bono Voucher</p> 
					
					{% include checkout-formulario-inicio.html %}

				</div>
			</section>
		</div>
	</div>
</div>