---
layout: default
title: Hello World
---

<section>
	<header class="page-header">
	  <h1>Educación</h1>
	</header>
	
	<section>
		<header>
			<h2 class="titulo-2">Actividades</h2>
		</header>
		<h3 class="titulo-3">Escolares y docentes</h3>
		<div class="miniaturas miniaturas--filas-tres">
			<div class="row">
				{% for actividad in site.data.actividades.escolares-docentes %}
				<div class="col-sm-4 miniaturas__columna">
					<div class="miniatura miniatura--basica">
						<a href="#" class="enlace--bloque">
							<img src="{{ actividad.imagen }}" class="miniatura__imagen img-responsive">
							<p class="miniatura__fecha">{{ actividad.fecha }}</p>
							<h4 class="miniatura__titulo">{{ actividad.titulo }}</h4>	
						</a>
						<a href="#" class="label label-default">{{ actividad.etiquetas }}</a>
					</div>
				</div>
				{% endfor %}
			</div>	
		</div>
		
		<h3 class="titulo-4">Niños y jóvenes</h3>
		<div class="row">
			{% for actividad in site.data.actividades.ninos-jovenes %}
			<div class="col-sm-4">
				<div class="miniatura miniatura--basica">
					<a href="#" class="enlace--bloque">
						<img src="{{ actividad.imagen }}" class="miniatura__imagen img-responsive">
						<p class="miniatura__fecha">{{ actividad.fecha }}</p>
						<h4 class="miniatura__titulo">{{ actividad.titulo }}</h4>
					</a>
					<a href="#" class="label label-default">{{ actividad.etiquetas }}</a>
				</div>
			</div>
			{% endfor %}
		</div>

	</section>

</section>